# 제어문

In [1]:
num = int(input("정수:"))
# 입력값이 0이면 "영입니다." 라고 출력한다.
# 단순if문 -> 특정 구문들을 실행할지 말지
if num == 0:
    print("영입니다")
    print("zero")
print("종료")

정수:0
영입니다
zero
종료

In [2]:
#입력받은 값이 0 이면 '0입니다.' 출력하고 0이 아니면 '0이 아닙니다.' 출력한다.
#if else 문: 조건이 True일 때 할일과 False 할일 두가지로 분기하는 경우.
num = int(input('정수:'))

if num==0:
    print("0입니다.")
else:
    print('0이 아닙니다.')
    print(f"입력한 숫자는 {num}입니다.")
          
print('종료합니다')

정수:0
0입니다.
종료합니다

In [5]:
#입력받은 값이 0이면 '0입니다.'를 출력하고
#          양수이면 '양수입니다.'를 출력
#          음수이면 '음수입니다.'를 출력 한다.
# if elif 문: 조건이 여러개일 경우 사용

num = int(input('정수:'))

if num == 0:
    print('0입니다.')
elif num > 0:
    print('양수입니다.')
    print(f'입력한 숫자는 {num}입니다.')
elif num < 0:
    print('음수입니다.')
    print(f'입력한 숫자는 {num}입니다.')
print('종료합니다.')
#elif num < 0:
else: #위조건이 모두  False 이면 (나머지 조건들) else 문을 실행

정수:0
0입니다.
종료합니다.

In [9]:
# num이 0이상이면 "양수입니다." 를 출력하고 100 이상이면"100보다 큽니다." 를 출력

num = int(input('정수:'))

if num > 0:
    print('양수입니다')
    if num >= 100:
        print('100이상')
    else:
        print('100보다 작습니다.')

정수:99
양수입니다
100보다 작습니다.

# 반복문

## while문
- 조건이 True인 동안 구문을 반복

In [12]:
limit = int(input('반복횟수:')) #반복할 횟수
count = 0 #현재 몇번째 반복인지를 저장할 변수

while count < limit: #현재 반복횟수가 limit보다 적을때 까지 반복
    count = count+1
    print(f'{count}.안녕하세요')
    print('='*20)

반복횟수:5
1.안녕하세요
====================
2.안녕하세요
====================
3.안녕하세요
====================
4.안녕하세요
====================
5.안녕하세요
====================

## for in 문
- iterable(자료구조들, 문자열 등)이 가지고 있는 값들을 순환조회할 때 사용

In [13]:
lst = [10,5,7,9,100,50,27,123,22,90]

In [15]:
# for 변수 in iteratble:
#     반복구문
for num in lst:
    print(num) # for in 문의 반복구문은 iterable의 원소 하나씩 처리하는 코드
    print("-"*10)

10
----------
5
----------
7
----------
9
----------
100
----------
50
----------
27
----------
123
----------
22
----------
90
----------

In [16]:
for v in (10,20,30,40):
#     print(v)
     print(v, end=",")
print('종료')

10,20,30,40,종료

In [17]:
for v in {1, 2, 2, 2, 3, 4, 1, 2, 3, 4}: #{1,2,3,4}
    print(v, end=",")
print("종료")

1,2,3,4,종료

In [18]:
for v in dict(name='홍길동', age=20, address= '서울'): #dictionary -> key가 조회된다.
    print(v)

name
age
address

In [19]:
for v in "안녕하세요.abcde~":
    print(v)

안
녕
하
세
요
.
a
b
c
d
e
~

## continue, break
- continue: 다음 반복을 실행해라.
- break: 반복을 멈춰라.

In [22]:
lst #lst 값들 중에 2의 배수만 출력
for v in lst:
    if v %2 == 0:
        print(v)

10
100
50
22
90

In [29]:
for v in lst:
    if v % 2 != 0: #2의 배수가 아니면
        continue # 나머지 반복구문 실행하지 말고 다음 반복 실행해라.
    print(v)

10
100
50
22
90

In [32]:
for v in lst:
    print(v)
    if v >=100: #break할 조건
        break #더이상 반복하지 않고 반복문을 끝낸다.
print('end')

10
5
7
9
100
end

In [37]:
#사용자로 부터 글을 입력받아서 출력. 'q!' 를 입력받으면 종료

while True:
    s = input()
    print("입력한 문자열:",s)
    if s == 'q!':
        break
print('종료합니다.')

1
입력한 문자열: 1
2
입력한 문자열: 2
3
입력한 문자열: 3
4
입력한 문자열: 4
q!
입력한 문자열: q!
종료합니다.

## for in 문 관련 함수
- range()
    - 특정값만큼 증감하는 연속된 숫자를 제공하는 iterable을 생성

In [40]:
#nums = [1,2,3,4,5,6,7,8, ... ,, 100]
#range(시작숫자,끝숫자,증감치)
range(10, 100, 10) #10 ~ 100-증감치 까지 10씩 증가하는 연속된 값을 제공.
                   # 생성된 값이 필요할 때 제공한다.

range(10, 100, 10)

In [59]:
for i in range(10,100,15):
    print(i)

10
25
40
55
70
85

In [43]:
l = list(range(10,100,10))
l

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [44]:
tuple(range(10,100,10)), set(range(10,100,10))

((10, 20, 30, 40, 50, 60, 70, 80, 90), {10, 20, 30, 40, 50, 60, 70, 80, 90})

In [62]:
#시작값이 종료보다 크고 증감치가 음수이면 내림차순으로 제공
list(range(100,10,-5)) #100~10-(-1)

[100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15]

In [46]:
# 증감치를 생략 - 1
list(range(1,10)) # !~9 !씩증가

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [48]:
# 시작값 생략 (증감치도 같이 생략해야함.)
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [49]:
#종료값은 생략할 수 없다.
list(range(36))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35]

# range() 전달하는 값이
- 1개: 종료값
- 2개: 시작값, 종료값
- 3개: 시작값, 종료값, 증감치

In [54]:
#range(): 특정 구문을 n번 반복하려고 할때 for in문과 함께 사용할 수 있다.
for _ in range(10): #변수를 _ 로 명명하면 이 변수는 사용하지 않겠다.
                    #자리만 채운다의 의미로 관례적으로 사용한다.
    print("ABC") #

ABC
ABC
ABC
ABC
ABC
ABC
ABC
ABC
ABC
ABC

- enumerate(자료구조)
    - 튜플로 (몇번째반복인지, 값)묶어서 반환

In [64]:
lst = [10,5,7,8,10,2]

for i in enumerate(lst):
    print(i)

(0, 10)
(1, 5)
(2, 7)
(3, 8)
(4, 10)
(5, 2)

In [66]:
for i in enumerate(lst, start=10):
    print(i, f'순번:{i[0]},값:{i[1]}')

(10, 10) 순번:10,값:10
(11, 5) 순번:11,값:5
(12, 7) 순번:12,값:7
(13, 8) 순번:13,값:8
(14, 10) 순번:14,값:10
(15, 2) 순번:15,값:2

In [68]:
#enumerate() 반환값을 tuple 대입을 이용해 받는다.
for idx, value in enumerate(lst, start=1):
    print(f'{idx}. {value}')

1. 10
2. 5
3. 7
4. 8
5. 10
6. 2

- zip(자료구조1, 자료구조2, ...)

In [81]:
# 같은 index의 값들이 같은 사람의 정보
names = ['홍길동','이순신','강감찬']
ages = [30,40,50]
address = ['서울','인천','수원']

In [82]:
for i in range(3):
    print(names[i],ages[i],address[i])

홍길동 30 서울
이순신 40 인천
강감찬 50 수원

In [83]:
for i in zip(names,ages,address):
    print(i)

('홍길동', 30, '서울')
('이순신', 40, '인천')
('강감찬', 50, '수원')

In [84]:
for name, age, addr in zip(names,ages,address): #튜플대입
    print(name,age,addr)

홍길동 30 서울
이순신 40 인천
강감찬 50 수원

In [85]:
emails = ['h@a.com', 'l@a.com', 'k@b.com','abc@a.com']
#자료구조들의 원소 개수가 다를 경우에는 적은 것에 맞춘다.
for name, age ,addr ,email in zip(names,ages,address,emails):
    print(name,age,addr,email)

홍길동 30 서울 h@a.com
이순신 40 인천 l@a.com
강감찬 50 수원 k@b.com

# 컴프리헨션

In [92]:
l1 = [1,2,3,4,5]
# l1의 원소들을 5배한 값들로 구성된 리스트를 생성
new_list = []
for i in l1:
    new_list.append(i*5)
    
new_list

[5, 10, 15, 20, 25]

In [93]:
new_list2 = [(i*5) for i in l1] # 리스트 컴프리헨션

new_list2

[5, 10, 15, 20, 25]

In [94]:
new_set = {i*5 for i in l1} #셋 컴프리헨션
new_set

{5, 10, 15, 20, 25}

In [99]:
#딕셔너리 컴프리헨션
new_dict = {key:value*5 for key, value in enumerate(l1, start=100)}

{100: 5, 101: 10, 102: 15, 103: 20, 104: 25}

In [102]:
new_dict = {'key'+str(value):value for value in l1}
new_dict

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4, 'key5': 5}

In [109]:
s = ['a','b','c','abc'] #s의 값을 대문자로 변환한 값들을 원소로 가지는 리스트

s2 = []
for v in s:
    s2.append(v.upper())
s2

['A', 'B', 'C', 'ABC']

In [110]:
s3 = [v.upper() for v in s] #리스트 컴프리헨션
s3

['A', 'B', 'C', 'ABC']

In [111]:
s5 = {v:v.upper() for v in s}
s5

{'a': 'A', 'b': 'B', 'c': 'C', 'abc': 'ABC'}

In [121]:
s = ['a','b','c','abc','def','ak','r']
#s 의 원소중 글자수가 1글자인 원소만 소문자를 대문자로 바꾼 값들을 가지는 배열
s2=[]
for v in s:
    if len(v) == 1:
        s2.append(v.upper())
    

s2

['A', 'B', 'C', 'R']

In [136]:
s3= [v for v in s  if len(v) ==1 ] #filter
s3

['a', 'b', 'c', 'r']

In [137]:
s3= [v.upper() for v in s  if len(v) ==1 ] #filter + mapping
s3

['A', 'B', 'C', 'R']

In [138]:
list(filter(lambda x: len(x)==1, s))

['a', 'b', 'c', 'r']

In [139]:
list(map(lambda x: x.upper(), s))

['A', 'B', 'C', 'ABC', 'DEF', 'AK', 'R']

In [150]:
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하   :  F학점

score = int(input('점수:'))

if 91<= score <= 100:
    print('A학점')
elif 81 <= score <= 90:
    print('B학점')
elif 71 <= score <= 80:
    print('C학점')
elif 61 <= score <= 70:
    print('D학점')
elif score <= 60:
    print('F학점')
else:
    print('똑바로입력하세요.')

점수:101
똑바로입력하세요.

In [152]:
#(2) 사용자로 부터 ID를 입력 받은 뒤 입력받은 ID가 5글자 이상이면 "사용할 수 있습니다."를 5글자 미만이면 "사용할 수 없는 ID입니다."를 출력하세요.

ID = input('ID를 입력해주세요:')

if len(ID) >= 5:
    print('사용할 수 있습니다.')
else:
    print('사용할 수 없는 ID 입니다.')

ID를 입력해주세요:153
사용할 수 없는 ID 입니다.

In [20]:
#(3) 사용자로부터 우리나라 도시명을 입력 받은 뒤 입력받은 도시명이 
#서울이면 "특별시"를 인천,부산,광주,대구,대전,울산 이면 "광역시"를 나머지는 "특별시나 광역시가 아닙니다."를 출력하세요.

cityname = input('도시이름:')

if cityname =='서울':
    print("특별시")
elif cityname == '인천':
    print('광역시')
elif cityname == '부산':
    print('광역시')
elif cityname == '광주':
    print('광역시')
elif cityname == '대구':
    print('광역시')
elif cityname == '대전':
    print('광역시')
elif cityname == '울산':
    print('광역시')
else:
    print('특별시나 광역시가 아닙니다.')

도시이름:
특별시나 광역시가 아닙니다.

In [21]:
#(4) 아래 리스트의 평균을 구하시오. 
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]

average = sum(jumsu)/len(jumsu)
average

# jumsu_sum = 0 #점수의 합계를 저장할 변수
# for i in jumsu:
#     jumsu_sum = jumsu_sum + i
# print('합계:', jumsu_sum)
# print('평균:', jumsu_sum/len(jumsu))

89.0

In [22]:
#(5) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. (ex: 0-pass, 1-pass, 2-fail)

for index,value in enumerate(jumsu):
    if value >=average:
        print(index,'-pass')
    else:
        print(index,'-fail')

0 -pass
1 -pass
2 -pass
3 -fail
4 -fail
5 -pass
6 -fail
7 -pass
8 -pass
9 -fail

In [26]:
#(6) 아래 리스트 값들 중 최대값을 조회해 출력
jumsu = [60, 90, 80, 80, 70, 55, 80, 90, 95, 85]
# large = jumsu[0]
# for i in jumsu:
#     if i > large:
#         large=i
        
# print(large)

max_value = 0 #최대값을 저장할 변수
#리스트의 원소와 max_value를 비교해서 원소가 더크면 max_value값을 변경
for value in jumsu:
    if value > max_value:
        max_value = value
print(max_value)

95

In [29]:
#(8) 다음 리스트 중에서 "쥐"와 "토끼" 제외한 나머지를 출력하세요.
str_list = ["쥐", "소", "호랑이", "토끼", "용", "뱀"]

# for i in str_list:
#     if i !='쥐'and i !='토끼':
#             print(i)

for a in str_list:
    if a not in ['쥐','토끼']:
        print(a)

소
호랑이
용
뱀

In [25]:
#(9) 사용자로부터 정수를 입력받아 그 단의 구구단을 출력하시오. 
# ex) 단을 입력하시오 : 2  
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18

구구단 = int(input('단을 입력하시오:'))

for y in range(1,10):
    print(구구단,'x',y,'=',구구단*y)

단을 입력하시오:3
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27

In [31]:
#컴프리헨션

#(10) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst = [10, 30, 70, 5, 120, 700, 1, 35]

[i*2 for i in lst]

[20, 60, 140, 10, 240, 1400, 2, 70]

In [32]:
#(11) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플 묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]
[(i,i*10) for i in lst]

[(10, 100),
 (30, 300),
 (70, 700),
 (5, 50),
 (5, 50),
 (120, 1200),
 (700, 7000),
 (1, 10),
 (35, 350),
 (35, 350)]

In [41]:
#(12) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]
[i for i in lst2 if i%3==0]

[3, 33, 21, 33, 60, 120]

In [43]:
#(13) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_name=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

[file for file in file_name if file.endswith('.exe')]

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [47]:
#(14) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_name=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

[(file, len(file)) for file in file_name if len(file)>=10]

[('mystroy.txt', 11), ('jupyter.bat', 11), ('function.exe', 12)]

In [44]:
#(15) 다음 리스트에서 소문자만 가지는 새로운 리스트를 만드시오.
str_list = ["A", "B", "c", "D", "E", "F", "g", "h", "I", "J", "k"]

In [51]:
[s for s in str_list if s.islower()]

['c', 'g', 'h', 'k']