In [1]:
s = input() #input 함수를 사용-호출(call)
print(s)

1
1

In [3]:
int('1000')

1000

In [4]:
i = int('100') # '100':argument(인수) => 피연산자
print(i) #i의 100 -> int() 함수의 반환값
ㅓ= print('test')

100
test

# 함수(Function)
- 사용자정의 연산자.
- 구문
```python
# [] 옵션. ...여러개
def 함수이름([매개변수, ...]):
    실행 구분들을 순서대로 작성
    ...
    [return value]

```
- 함수 이름
    - 규칙: 변수와 동일
    - 관례: 변수와 동일 - snake 표기법

In [5]:
# 함수를 정의
# 정의된 함수는 사용하기 위해서는 메모리에 로딩되어야 한다.
def say_hello():
    print('안녕하세요')
    print('hello')

# 호출: 함수명([argument])    
# 리턴값이 있는 함수 호출: 변수 = 함수명([argument])
say_hello()

안녕하세요
hello

In [8]:
# 매개변수가 있는 함수
def say_hello2(name): #name : 매개변수(parameter) -> 호출한 곳으로 부터 전달된 값(argument)를 받을 변수
    greeting = f'{name}님 반갑습니다.'
    print(greeting)

In [12]:
say_hello2('한예찬')#매개변수가 있는 함수 호출시 반드시 값을 전달해야 한다.

한예찬님 반갑습니다.

In [14]:
# 반환값(리턴값)이 있는 함수
def say_hello2(name,age):
    greeting = f'{age}세 {name}님 환영합니다.'
    return greeting #greeting 변수의 값(처리결과)를 호출한 곳을 전달 => 리턴값
                    #return : 호출한 곳으로 돌아가라는 명령어.

In [17]:
g = say_hello2('한예찬',28)
print(g)

28세 한예찬님 환영합니다.

In [35]:
#매개변수는 여러개 선언가능, 리턴값은
#1개만 가능, (처리결과가 여러개인 경우? 자료구조로 묶어서 전달.)
#두개의 값을 받아서 4칙연산한 결과를 반환하는 함수

def calc(num1, num2):
    a = num1 + num2
    b = num1 - num2
    c = num1 * num2
    d = None
    if num2 != 0:
        d = num1/num2
        
    
#     return[a,b,c,d] #리스트
#     return a,b,c,d #튜플
    return {'plus':a,'minus':b, 'multiply':c, 'divide':d}

In [36]:
calc(10,5)
print(num1,num2,a,b,c,d) #cal() 함수안에서 선언한 변수들을 사용
#함수 안에 선언된 변수: Local Variable(지역변수)=> 사용범위는 함수가 실행하는 동안. 함수안에서만 사용가능

{'plus': 15, 'minus': 5, 'multiply': 50, 'divide': 2.0}

In [33]:
result = calc(10,5)
print(result)
r1,r2,r3,r4=calc(20,10) #리스트대입
print(r1,r2,r3,r4)

{'plus': 15, 'minus': 5, 'multiply': 50, 'divide': 2.0}
plus minus multiply divide

In [34]:
result = calc(10,5)
print(result)
print('덧셈결과:',result['plus'])

{'plus': 15, 'minus': 5, 'multiply': 50, 'divide': 2.0}
덧셈결과: 15

In [38]:
result = calc(10,0)
print(result)

{'plus': 10, 'minus': 10, 'multiply': 0, 'divide': None}

## 매개변수와 관련된 문법

### Positional Parameter(Argument)
- 일반적인 매개변수(parameter)
- 매개변수가 선언된 순서대로 값을 전달한다.

In [39]:
def print_info(name,age,address):
    print(f"이름:{name},나이:{age},주소{address}")

In [40]:
print_info("한예찬",28,"의왕") #순서에 맞춰서 값들을 전달

이름:한예찬,나이:28,주소의왕

In [ ]:
print_info("한예찬") #매개변수에 값을 다 전달해야 한다.

## 기본값이 있는 매개변수
- 매개변수에 값을 대입, 기본값설정
    - 호출할때 값이 안전달되면 기본값을 사용.

In [41]:
def print_info2(name=None, age=-1, address=None):
    print(f"이름: {name}, 나이: {age},주소:{address}")

In [42]:
print_info2("한예찬",28,"의왕")

이름: 한예찬, 나이: 28,주소:의왕

In [43]:
print_info2() #argument 생략하면 기본값을 함수내에서 사용한다.

이름: None, 나이: -1,주소:None

In [44]:
print_info2(address = '부산') #매개변수를 지정해서 값을 전달 => keyword argument

이름: None, 나이: -1,주소:부산

In [45]:
print_info(address='인천', name='홍길동',age=40) #keyword argument를 사용하면 순서 상관없이 대입

이름:홍길동,나이:40,주소인천

### 가변인자

In [46]:
def sum_function(num_list):
    #정수 여러개(정해지지 않은 개수) 를 받아서 합계를 리턴하는 함수
    #argument : 자료구조
    sum_value = 0
    for v in num_list:
        sum_value +=v
    return sum_value

In [47]:
result = sum_function([1,2,3,4,5,6,7,8,9,10])
result

55

In [49]:
r = sum_function([10,20,30])
r

60

In [54]:
#가변인자: 개수가 정해지지 않은 값들을 받아서 처리할 경우 사용
# *변수명 - 튜플로처리. 호출할때는 전달할 값들(argument)을 나열해서 전달한다.
def sum_function2(*num_list):
    print(type(num_list), num_list)
    sum_value = 0
    for v in num_list:
        sum_value += v
    return sum_value

In [55]:
print(sum_function2(1,2,3,4,5))

<class 'tuple'> (1, 2, 3, 4, 5)
15

In [71]:
# 가변인자: **변수명. 딕셔너리로 처리. 호출할 때는 keyword argument 형식으로 전달.
def print_info(**info):
    return_value = ''
    for key,value in info.items():
        return_value = f'{return_value},{key}: {value}'
    return return_value

In [72]:
print_info()

''

In [73]:
v1 = print_info(이름='홍길동')
print(v1)

,이름: 홍길동

In [74]:
print(print_info(이름='한예찬',주소='의왕',이메일='sdh1541@naver.com',취미='음식'))

,이름: 한예찬,주소: 의왕,이메일: sdh1541@naver.com,취미: 음식

In [75]:
def my_fn(name=None):
    print(str(name)+"님 안녕하세요")

In [77]:
#함수 호출
my_fn('홍길동')
my_fn()

홍길동님 안녕하세요
None님 안녕하세요

In [78]:
your_fn = my_fn

In [79]:
your_fn('이순신')

이순신님 안녕하세요