In [2]:
name = None
age = None
address = None

In [3]:
def print_person_info(name, age, address):
    print(f"{name}, {age}, {address}")
    
def add_age(age, num):
    return age + num

def discount_price():
    pass
def save_product_info():
    pass

In [5]:
# 절차
name = "홍길동"
age = 30
address = "서울"
#출력
print_person_info(name, age, address)
#나이 더하가
age = add_age(age, 5)
print_person_info(name, age, address)

홍길동, 30, 서울
홍길동, 35, 서울

In [13]:
class Person:
    
    def __init__(self, name, age, address=None):# , email=None, telnum=None):
        self.name = name  #Attribute = Parameter
        self.age = age
        self.address = address
        
    # 사람의 속성값들을 모두 출력하는 메소드
    def print_info(self):
        info = f"이름: {self.name}, 나이: {self.age}, 주소: {self.address}"  
                                                        #self.name -> 이 클래스로부터 생성된 객체(self)의(.) 속성 name
        print(info)
        
    # 나이에 특정 값을 더하는 메소드
    def add_age(self, value): #value는 age에 더해줄 값 => 호출하는 곳에서 받을 값을 저장할 매개변수는 두번째 변수부터 선언.
        self.age = self.age + value
#         self.age += value


class Product:
    
    def __init__(self, name, price, maker):
        self.name = name
        self.price = price
        self.maker = maker
    
    def discount_price(self, rate):
        self.price *= rate
        
    def save_product_info(self):
        pass # 저장기능

In [14]:
pd = Product('TV', 500000, 'LG')
pd.discount_price(0.8)
pd.price

400000.0

In [7]:
p = Person('홍길동', 15, '인천')
p.print_info()
p.add_age(-3)
p.print_info()

이름: 홍길동, 나이: 15, 주소: 인천
이름: 홍길동, 나이: 12, 주소: 인천

# 클래스와 객체
- 클래스(class)
    - 사용자 정의 데이터타입. 
    - 특정 데이이터 맞게 정의한 dictionary개념(값을 key-value 쌍으로 관리)
- 객체 (instance)
    - 클래스로 부터 생성된 값
- Attribute, Instance 변수
    - 객체를 구성하는 값으로 객체의 속성, 상태를 표현한다.
    - 보통  initializer를 이용해 초기화 한다. 
- Instance method(메소드)
    - 객체가 제공하는 기능으로 사용자 정의 데이터타입(class)의 연산자이다. 
    - 클래스 구현부에 정의한다.

In [ ]:
# member_name: snake 표기법
# MemberName: 파스칼 표기법
# memberName: camel 표기법

In [1]:
# Person 이란 이름의 클래스(사용자정의 데이터타입) 정의
# class 이름: 이름규칙 - 변수규칙과 동일
#             관례 - 파스칼표기법. 단어의 첫글자는 대문자로 하고 나머진 소문자.
class Person:  #클래스 선언부
    pass  #block 내용이 없다.   # 클래스 구현(block)

In [4]:
# 객체(instance) 생성 -> 값을 생성
# 클래스이름()
p = Person()
print(type(p))

<class '__main__.Person'>

In [8]:
# Person 객체에 속성을 추가/조회
# 객체의 속성/메소드에 접근(호출) - `.` 표기법을 사용
# p에 대입된 객체에 name 속성에 "홍길동" 을 대입
# 초기화 - 처음 값을 대입
p.name = "홍길동"  #p의(.) 이름 은(=) "홍길동"   # 객체.변수 -  표기법: 속성명을 변수로 처리.
p.age = 30
p.address = '서울'

In [9]:
print("이름: ", p.name)
print('나이: ', p.age)
print('주소: ', p.address)

이름:  홍길동
나이:  30
주소:  서울

In [10]:
p.age = 11
print('새나이:', p.age)

새나이: 11

## 클래스에 메소드 정의
- 클래스에 객체의 [속성과관련된] 연산자(함수)를 추가하는 개념
```python
# 메소드 구문
# 1개 이상의 매개변수를 정의. 첫번째 매개변수 이름은 관례적으로 self로 준다.  self 는 개체(instance)를 받는다.
def 메소드이름(self, v1, v2,...): 
    구현
```

In [33]:
# class를 구현 ==> instance를 처리하는 메소드들을 정의
#             ==> attribute: 메소드의 self를 이용해서 정의.
class Person2:
    
    
    # 사람의 속성값들을 모두 출력하는 메소드
    def print_info(self):
        info = f"이름: {self.name}, 나이: {self.age}, 주소: {self.address}"  
                                                        #self.name -> 이 클래스로부터 생성된 객체(self)의(.) 속성 name
        print(info)
        
    # 나이에 특정 값을 더하는 메소드
    def add_age(self, value): #value는 age에 더해줄 값 => 호출하는 곳에서 받을 값을 저장할 매개변수는 두번째 변수부터 선언.
        self.age = self.age + value
#         self.age += value

In [25]:
def print_person2_info(p):
    print(f"{p.name}, {p.age}, {p.address}")

In [27]:
print_person2_info(p2)

홍길동, 25, 인천

In [29]:
p2 = Person2()
p2.name = "홍길동"
p2.age = 25
p2.address="인천"

In [30]:
p2.print_info()

이름: 홍길동, 나이: 25, 주소: 인천

In [31]:
p2.address="수원"
p2.print_info()

이름: 홍길동, 나이: 25, 주소: 수원

In [32]:
p2.add_age(3, 4, 5)
p2.print_info()

이름: 홍길동, 나이: 28, 주소: 수원

In [34]:
# int 타입: 1   int 값: 1, 2, 3, -1, -2, 30000,    1, 1, 1,    
# 클래스: 타입 1,   객체-값: 무한대

# Person2 클래스에서 객체(instance) 3개  생성
p1 = Person2()
p2 = Person2()
p3 = Person2()

In [35]:
p1.name = '이름1'
p1.age = 10
p1.address = '주소1'

In [36]:
p2.name = '이름2'
p2.age = 20
p2.address = '주소2'

In [37]:
p3.name = '이름3'
p3.age = 30
p3.address = '주소3'
p3.email = 'abc@a.com'

In [38]:
p1.add_age(40)
p1.print_info()

이름: 이름1, 나이: 50, 주소: 주소1

In [39]:
p2.print_info()

이름: 이름2, 나이: 20, 주소: 주소2

In [41]:
# p2: Person2에서 생성된 객체 -> Person2에 정의된 메소드만 호출 가능.
# p2.pop('name') #dictionary 메소드

In [48]:
p4 = Person2()

p4.add_age(2)# 호출전에 age를 할당한 후에 호출
p4.print_info() #호출전에 name, age, address 속성값을 할당 후에 호출
# AttributeError: 객체에 없는 속성/메소드를 호출(조회)할때 발생하는 에러

AttributeError: 'Person2' object has no attribute 'name'

## Initializer 메소드 (Constructor-생성자)
- 객체 생성하는 시점에 속성값들을 초기화 하도록 강제하는 메소드
    - **객체(instance)를 구성하는 Attribute들을 정의, 초기화 하는 역할** 
        - 객체를 생성하는 곳으로 부터 argument로 반드시 받아야 하는 것은 기본값 없는 매개변수로 선언한다.
        - 객체를 생성하는 곳에서 값을 줄수도 안줄 수도 있는 경우 기본값 있는 매개변수로 선언한다.
    - 객체 생성후 메소드들이 호출 되기 전에 반드시 생성되야 하는 attribute들을 객체에 설정하는 역할을 한다. => 문법
    - Default 속성들 설정해주는 메소드.
- 객체 생성시 호출되는 메소드
    - self로 생성되는 객체를 받는다.

In [66]:
class Test:
    
#     initializer: 이름 - __init__(self, [변수들....])
    def __init__(self, var5=None):
        print('Test의 __init__() 실행')
        self.var1 = "변수1"
        self.var2 = "변수2"
        self.var3 = True
        self.var4 = 10000
        self.var5 = var5  #매개변수(지역변수)var5로 받은 값을 Attribute var5에 대입.

In [67]:
t = Test()  #객체생성: 클래스이름() => 클래스의 initializer를 호출

Test의 __init__() 실행

In [68]:
print(t.var1, t.var2, t.var3, t.var4, t.var5)

변수1 변수2 True 10000 None

In [62]:
t1 = Test(200)

Test의 __init__() 실행

In [63]:
print(t1.var1, t1.var2, t1.var3, t1.var4, t1.var5)

변수1 변수2 True 10000 200

In [70]:
class Person3:
    
    #name, age, address  속성을 초기화하는 initializer 
    def __init__(self, name, age, address=None):# , email=None, telnum=None):
        self.name = name  #Attribute = Parameter
        self.age = age
        self.address = address
#         self.point = 10000  # 모든 객체에 같은 값을 넣는 Attribute.
    
    # 사람의 속성값들을 모두 출력하는 메소드
    def print_info(self):
        info = f"이름: {self.name}, 나이: {self.age}, 주소: {self.address}"  
        print(info)
        
    # 나이에 특정 값을 더하는 메소드
    def add_age(self, value): 
        self.age = self.age + value

In [74]:
p = Person3("홍길동", 20)
p.print_info()
p.add_age(5)
p.print_info()

이름: 홍길동, 나이: 20, 주소: None
이름: 홍길동, 나이: 25, 주소: None

In [76]:
p2 = Person3('이순신', 30, '서울')
p2.print_info()

이름: 이순신, 나이: 30, 주소: 서울

In [77]:
p3 = Person3(name='유관순', age=30, address='인천') 
p3.print_info()

이름: 유관순, 나이: 30, 주소: 인천

In [ ]:
p3.email = "abc@a.com"
p3.tel = '010-111-2222'

In [78]:
type(Person3) #type(Class이름) => type

type

In [80]:
p3.__dict__

{'name': '유관순', 'age': 30, 'address': '인천'}

## 정보 은닉 (Information Hiding)
- Attribute에 아무값이나 대입하지 못하게 하고 어떤 규칙을 설정하고 싶을 때 적용.
1. Attribute에 접근하는 것을 막는다.
    - Attribute이름 앞에 __ (double underscore) 를 붙인다. **뒤에는 붙이면 절대안됨**
        - 내부적으로 변수의 이름을 `_클래스이름__속성명` 으로 변환해서 객체에 저장. (메소드에서 self.\_\_변수 로 설정한 경우)
2. Attribute의 값을 변경하는 메소드(여기에 변경규칙을 넣는다.) - setter        
   Attribute의 값을 반환하는 메소드 - getter    
   를 제공한다.

In [111]:
class Person4:
    
    def __init__(self, age):
        if age >= 0:
            self.__age = age
        else:
            self.__age = None
    # age 속성값을 변경하는 메소드 - setter
    def set_age(self, age):
        if age >= 0:
            self.__age = age  #같은 클래스에서는 __변수 를 호출 할 수있다.

    # age 속성값을 반환하는 메소드 - getter
    def get_age(self):
        return self.__age

In [112]:
p = Person4(20)

In [113]:
p.__dict__

{'_Person4__age': 20}

In [115]:
# 변경
p.set_age(30)
p.__dict__

{'_Person4__age': 30}

In [117]:
p.set_age(-50)
p.__dict__

{'_Person4__age': 30}

In [118]:
print(p.get_age())

30

#### setter, getter 메소드를 변수처럼 호출할 수 있도록 처리.
1. property() 함수를 이용
2. property  decorator를 이용

In [158]:
# property() 함수를 이용
class Person5:
    
    def __init__(self, name, age):
        if name: #한글자 이상이면 넣어라.
            self.__name = name
        if age >= 0: # 양수이면 넣어라.
            self.__age = age
            
    # name 의 setter/getter
    def set_name(self, name):
        if name: #한글자 이상이면 넣어라.
            self.__name = name

    def get_name(self):
        return self.__name
    
    # age의 setter/getter 
    def set_age(self, age):
        if age>=0:
            self.__age = age
            
    def get_age(self):
        return self.__age
    
#     변수명 = property(getter, setter)  객체.변수명 으로 값을 조회할 경우 getter메소드 호출, 값을 대입하면 setter메소드를 호출
    name = property(get_name, set_name)
    age = property(get_age, set_age)

In [159]:
p = Person5('홍길동', 30)
p.__dict__

{'_Person5__name': '홍길동', '_Person5__age': 30}

In [160]:
# name 속성에 값을 대입 => set_name
# p.name = '유관순'
p.name = None
p.__dict__

{'_Person5__name': '홍길동', '_Person5__age': 30}

In [124]:
# p.age = 50 #==set_age
p.age = -40
p.__dict__

{'_Person5__name': '유관순', '_Person5__age': 50}

In [126]:
print(p.age, p.name)  #name, age 속성을 조회 -> getter 이 호출된다.

50 유관순

In [154]:
# decorator를 이용해서 setter/getter를 변수처럼 사용하기
# 1. getter/setter 메소드의 이름을 사용할 변수명을 준다.
# 2. getter 메소드에 @property 데코레이터를 붙인다.
#    setter 메소드에 @getter메소드명.setter 데코레이터를 붙인다.
class Person6:
    def __init__(self, name, age):
        if name: #한글자 이상이면 넣어라.
            self.__name = name
        if age >= 0: # 양수이면 넣어라.
            self.__age = age
    
    @property
    def name(self): #getter
        return self.__name
    
    @name.setter  #name에 대한 setter
    def name(self, name): #setter
#         print('name setter')
        if name:
            self.__name = name

    @property  #age의 getter
    def age(self):
        return self.__age
    
    @age.setter #age의 setter
    def age(self, age):
        if age>=0:
            self.__age = age

In [152]:
p = Person6('이순신', 10)
p.__dict__

{'_Person6__name': '이순신', '_Person6__age': 10}

In [140]:
# p.name = '홍길동'  #name setter호출
# p.name = ''
p.name = None
p.__dict__

{'_Person6__name': '홍길동', '_Person6__age': 10}

In [143]:
# p.age = 100
p.age = -20
p.__dict__

{'_Person6__name': '홍길동', '_Person6__age': 100}

In [144]:
print(p.name, p.age)

홍길동 100

In [163]:
l = [10, 5, 7, 2]
i = 10
s = 'abc'
print(type(l), type(p), type(i), type(s), type(False))

<class 'list'> <class '__main__.Person5'> <class 'int'> <class 'str'> <class 'bool'>

In [ ]:
l = [10, 5, 7, 2]
# 정렬
# sorted(리스트), 리스트.sort()

In [164]:
sorted(l) #리스트, 튜플, 셋, 딕셔너리, 문자열 => iterable들을 정렬. 정렬된 리스트를 새로 만들어서 반환

[2, 5, 7, 10]

In [169]:
sorted({10,10,1,2, 5, 10})

[1, 2, 5, 10]

In [170]:
sorted((10, 2, 1, 7, 4, 1))

[1, 1, 2, 4, 7, 10]

In [171]:
sorted(dict(z=1, a=10, r=10, b=20)) #딕셔너리는 키값들만 정렬해서 리스트로 반환

['a', 'b', 'r', 'z']

In [172]:
sorted('alkdjfa;lksdfjk;lasdj;kladsksfdj')

[';',
 ';',
 ';',
 'a',
 'a',
 'a',
 'a',
 'd',
 'd',
 'd',
 'd',
 'd',
 'f',
 'f',
 'f',
 'j',
 'j',
 'j',
 'j',
 'k',
 'k',
 'k',
 'k',
 'k',
 'l',
 'l',
 'l',
 'l',
 's',
 's',
 's',
 's']

In [166]:
l.sort()

In [167]:
l

[2, 5, 7, 10]

In [173]:
l.append()

[2, 5, 7, 10]

In [175]:
def plus(a, b):
    return a+b

In [176]:
plus(10, 20)

30

In [177]:
plus('a','b')

'ab'

# 상속(Inheritance)

In [29]:
class Person:
    
    def eat(self):
        print('점심을 먹는다.')

In [30]:
class Student(Person): #Person을 상속은 Student 클래스를 정의
#     def eat(self):#
#         print('점심을 먹는다.')
    
    def study(self):
        print('공부를 한다.')

In [31]:
p = Person()
p.eat()

점심을 먹는다.

In [32]:
s = Student()
s.eat()
s.study()

점심을 먹는다.
공부를 한다.

In [74]:
class Person2:
    
    def __init__(self, name):
        self.name = name
    
    def eat(self):
        print(f'{self.name}이 점심을 먹는다.')
        
    def get_info(self):
        """
        Person 객체가 가지는 정보(name)을 이름: name 형식으로 반환하는 메소드
        """
        return f"이름: {self.name}"

In [82]:
class Student2(Person2): #Person2을 상속은 Student2 클래스를 정의
    
    def __init__(self, name, subject):
#         self.name = name
        super().__init__(name)   #super(): 상위(부모)클래스를 가리킨다. super().__init__() : 부모클래스의 __init__() 메소드를 호출
        self.subject = subject
        
    def study(self):
        print(f'{self.subject}과목을 공부를 한다.')
        
#     def get_stu_info(self):
    def get_info(self): # 상위클래스인 Person의 get_info() 메소드를 하위클래스인 Student에서 재정의(내용만 수정) => Method Overriding
        """
        Student객체가 가지는 정보(name, subject)를 이름: name, 과목: subject 형식으로 반환하는 메소드
        """
        v = super().get_info() # Method Overriding한 메소드에서 상위클래스의 원본메소드를 호출 할 경우 : super()
#         self.study()
#         return f"이름: {self.name}, 과목: {self.subject}"
        return f"{v}, 과목: {self.subject}"

In [101]:
class Teacher(Person2):
    
    def __init__(self, name, job):
        super().__init__(name)
        self.job =  job
        
#     def get_teacher_info(self):
    def get_info(self):  # 상위클래스인 Person의 get_info()를 Method Overriding
        """Teacher객체가 가지는 정보(name, job)를 이름: name, 업무: job 형식으로 반환하는 메소드"""
        return f"이름: {self.name}, 과목: {self.job}"

In [102]:
Teacher('이름', '업무')

aaaaaa

In [84]:
s2 = Student2("홍길동", "파이썬")
s2.study()
s2.eat()

파이썬과목을 공부를 한다.
홍길동이 점심을 먹는다.

In [85]:
# v = s2.get_stu_info()
v = s2.get_info()
print(v)

홍길동이 점심을 먹는다.
이름: 홍길동, 과목: 파이썬

In [79]:
p2 = Person2("이순신")
v2 = p2.get_info()
print(v2)

이름: 이순신

In [114]:
t = Teacher('박선생', '교무주임')
v3 = t.get_info()
print(v3)

aaaaaa
이름: 박선생, 과목: 교무주임

In [81]:
t.eat()
s2.eat()

박선생이 점심을 먹는다.
홍길동이 점심을 먹는다.

In [87]:
t.__dict__

{'name': '박선생', 'job': '교무주임'}

In [115]:
t.__class__, p2.__class__

(__main__.Teacher, __main__.Person2)

In [116]:
# isinstance(객체, 클래스이름) : 객체가 클래스이름(의 클래스)의 하위클래스인지를 확인
isinstance(t, Person2)  #True: t 객체는 Person2의 하위클래스에서 생성된 객체

True

In [118]:
t = Teacher('이름', '업무')

aaaaaa

In [119]:
isinstance(t, Teacher)

True

In [120]:
isinstance(t, Person2)

True

In [97]:
t.__class__

__main__.Teacher

# 특수 메소드들

In [147]:
class Test:
    
    # initializer - 객체 생성시 호출 (attribute 변수 초기화)
    def __init__(self, num):
        self.num = num
    # 객체를 함수처럼 호출하면 실행되는 메소드
    def __call__(self, cnt):
        print(self.num + cnt)
        return self.num * cnt
    
    # 객체를 문자열로 바꿀때 나올 string을 반환 => attribute변수의 값들을 하나로 합쳐서 하나의 문자열로 반환.
    def __str__(self):
        return f"num: {self.num}"
    
    def __repr__(self):
        return f"num: {self.num}"

In [148]:
test = Test(10)
test2 = Test(20)

In [149]:
str(test), str(test2) #__str__()

('num: 10', 'num: 20')

In [150]:
test # __repr__()  : 주피터노트북 cell (REPL 에디터)에서 객체를 그냥 출력하면 호출.

num: 10

In [151]:
print(test)  #print()함수는 값을 문자열로 변환한 뒤에 출력 __str__()

num: 10

In [152]:
"abc" # str.__repr__()

'abc'

In [153]:
print("abc") # str.__str__()

abc

In [111]:
test(50)

60

500

In [112]:
a = Test(10)(20) #객체 생성하면서 바로 __call__() 호출
print(a)

30
200

In [130]:
str(test)  # __str__() 반환하는 문자열

'문자열'

In [ ]:
p = Person('홍길동', 30)
p2 =Person('이순신', 10)
p3 =Person('강감찬', 40)

In [215]:
class Person:
    
    # class 변수 - 클래스 자체의 변수(데이터) - 객체별 다른 값을 저장하는 변수(attribute)가 아니라 모든 객체에 공통적으로 정의되는 값, 
    #              클래스의 속성을 정의할 때 사용
    #              class 블럭에 정의. 접근: class이름.변수
    job_list = ['교사', '학생']    
    
    
    # class 메소드 - class변수를 다루는 메소드. 첫번째 매개변수로 class를 받는 매개변수를 선언. @classmethod 데코레이터를 선언
    # 클래스이름.메소드()   Person.append_data_job_list("교직원")
    @classmethod
    def append_data_job_list(cls, job):
        print('append', cls)
        cls.job_list.append(job)
    
    # static method - class의 메소드. class 변수나 instance 변수와 관계없는 기능을 처리하는 메소드. @staticmethod 데코레이터를 선언.
    # 호출: class이름.메소드()
    @staticmethod
    def print_class_info():
        print('Person 클래스는 우리가 관리하는 Person데이터를 표현한다.')
    
    
    # initializer
    def __init__(self, name, age, job=None):
        self.name, self.age = name, age
        self.job = job
    
    def add_age(self, v):
        self.age += v
    
    
    # 객체를 문자열로 변경할 때 호출. str(), print()
    def __str__(self):
        return f"이름: {self.name}, 나이: {self.age}, 직무: {self.job}"
    
    # 연산자 재정의
    # __ne__(): p1 != p2, __lt__(): p1 < p2 , __gt__() : p1 > p2
    def __eq__(self, obj):  # p1 == p2  (p1과 p2의 속성값이 같으면 True, 다르면 False)
#         print('__eq__', isinstance(obj, Person))
        result = False
        if isinstance(obj, Person):
#             if self.name == obj.name and self.age == obj.age:
            if self.name == obj.name:
                result = True        
        return result
    
    def __gt__(self, obj):
        result = False
        if isinstance(obj, Person):  # p1 > p2
            if self.age > obj.age:
                result = True
        else:
            result = self.age > obj  #p1 > 10
        
        return result
        
    
    def __add__(self, value):
        # 덧셈을 재정의 : self의 나이에 value를 더한 값을 반환
        return self.age + value

In [216]:
# static 메소드 호출
Person.print_class_info()

Person 클래스는 우리가 관리하는 Person데이터를 표현한다.

In [210]:
# 클래스 변수 호출: 클래스이름.변수명
Person.job_list

['교사', '학생']

In [211]:
Person.append_data_job_list('교직원')

append <class '__main__.Person'>

In [213]:
Person.job_list

['교사', '학생', '교직원']

In [212]:
print(Person)

<class '__main__.Person'>

In [206]:
p1 = Person('홍길동', 20, Person.job_list[0])
p2 = Person('이순신', 10, Person.job_list[1])
print(p1)
print(p2)

이름: 홍길동, 나이: 20, 직무: 교사
이름: 이순신, 나이: 20, 직무: 학생

In [201]:
p1 = Person("홍길동", 20)
p2 = Person("홍길동", 20)
p3 = Person("홍길동", 13)

In [202]:
print(p1)

이름: 홍길동, 나이: 20, 직무: None

In [198]:
p1 > 10

True

In [199]:
p1 > p3

True

In [180]:
p1 == p2   # p1.__eq__(p2)

True

In [181]:
p1 == p3

True

In [178]:
p1 + 20  #p1.__add__(20)

40