In [3]:
# 단축키
# shift + enter : 실행 후 다음 cell로 이동한다.
# control + enter: 실행 후 실행한 cell에 머무른다.
1 + 5

6

In [4]:
2 + 3

5

In [6]:
5+6

11

In [1]:
# 변수  변수이름=값
name = "홍길동"  # "홍길동" 이라는 값을 name이라는 변수에 대입.
                # 이름이 name인 공간이 메모리에 없으면 새로 만들고 대입. 있으면 있는 공간에 대입한다.

In [2]:
print(name) #print(값)  ()안의 값을 출력하는 함수

홍길동

In [8]:
age = 30

In [9]:
print(age)  # age 변수의 값을 출력

30

In [12]:
age = 50  # age 변수의 값을 50을 대체(재할당)

In [13]:
print(age)

50

In [11]:
print(name)

홍길동

In [12]:
name = '이순신'

In [13]:
print(name)

이순신

In [14]:
name = '홍길동'
print(name)
name = '이순신' #name 변수가 가진 값을 변경
print(name)

홍길동
이순신

In [19]:
age = age + 20  #1. age 변수가 가진 값과 20을 더하는 처리
                #2. 1에서 처리한 값을 age변수에 대입

In [20]:
print(age)

70

In [15]:
age2 = age - 40

In [16]:
print(age2)

-10

In [18]:
test = age

In [19]:
print(age, test)

30 30

In [24]:
print(age)

70

In [29]:
print(address) # 이름이 address인 변수의 값을 출력 => 없는 변수를 사용할 경우 에러 발생 - NameError

NameError: name 'address' is not defined

In [30]:
print(age)

1930

In [31]:
print(Age)

NameError: name 'Age' is not defined

In [32]:
age = 30

In [33]:
Age = 50

In [34]:
print(age, Age)  #두개값을 한번에 출력

30 50

In [35]:
주소 = '서울시 서초구 서초동'  #변수명으로 한글 가능
print(주소)

서울시 서초구 서초동

In [36]:
우리집_주소 = '서울시 강남구' #특수문자는 _ 사용가능. _는 단어 구분자로 사용. (snake 표기법)

In [37]:
print(우리집_주소)

서울시 강남구

In [ ]:
my_email_address = 'abc@abc.com'

In [38]:
# myEmailAddress = 'a@a.com' #  camel 표기법

In [41]:
my!email = 'abc@a.com'

SyntaxError: invalid syntax (Temp/ipykernel_6376/3568569574.py, line 1)

In [42]:
5age = 30 #숫자를 첫번째 글자로 할 수 없다. (변수명)

SyntaxError: invalid syntax (Temp/ipykernel_6376/1428693534.py, line 1)

In [ ]:
# 여러개 변수에 같은 값을 대입
a = 10
b = 10
c = 10

In [43]:
a = b = c = 20

In [44]:
print(a, b, c)

20 20 20

In [45]:
age1 = age2 = age3 = age4 = age5 = 0
print(age1, age2, age3, age4, age5)

0 0 0 0 0

In [ ]:
# 여러개의 값을 여러개 변수에 한번에 대입
a = 10
b = 20
c = 30

In [46]:
# 튜플 대입 (Tuple assignment)
a, b, c = 10, 20, 30  # 변수의 개수와 값의 개수가 같아야 한다.
print(a, b, c)

10 20 30

In [47]:
a, b, c = 1, 2

ValueError: not enough values to unpack (expected 3, got 2)

In [48]:
age1, age2, age3, age4 = 50, 60, 70, 80
print(age1, age2, age3, age4)

50 60 70 80

In [49]:
# 변수를 메모리에서 삭제
del age1

In [50]:
print(age1)

NameError: name 'age1' is not defined

In [52]:
del age2
print(age2)

NameError: name 'age2' is not defined

In [56]:
# 동적타입언어 => 하나의 변수에 다양한 타입의 값들을 대입할 수 있다.
age = 30  #정수 대입
print(age)
age = '스무살' #문자열 대입
print(age)
age = 25.7
print(age) #실수

30
스무살
25.7

In [ ]:
# 정적타입언어 => 변수에 타입을 고정해서 같은 타입의 값들만 저장.
int age = 20
age = 40
age = 50

age = '스무살' #에러

In [20]:
# 값, 변수의 타입을 확인하는 함수 - type(값)
type(age), type(20)

(int, int)

In [60]:
age = 30
type(age)

int

In [63]:
tall = 178.9
type(tall), type(age), type(name)

(float, int, str)

In [ ]:
# 데이터 타입
#  숫자형

In [22]:
f1 = 0.5  
f2 = 356.7
print(f1, f2)

0.5 356.7

In [23]:
f3 = .5  #정수부가 0일 경우 0은 생략가능
print(f3)

0.5

In [24]:
# 지수표기법 
f4 = 3e10  # 3 x 10**10
print(f4)

30000000000.0

In [26]:
f5 = 3246e5
print(f5, type(f5))

324600000.0 <class 'float'>

In [27]:
f6 = 3e-3  # 3 X 10**-3
print(f6)

0.003

In [28]:
type(10), type(3.2) # int:정수타입, float: 실수타입

(int, float)

In [33]:
print(2**5) #제곱연산자
print(10/3) #나누기
print(10 // 3) # 몫
print(10 % 3) #나머지

32
3.3333333333333335
3
1

In [36]:
num = 1001
# num이 5의 배수?
print(num % 5)  # 결과가 0이면 5의 배수

False

In [37]:
# 논리형
b1 = True
b2 = False
print(b1, b2)

True False

In [42]:
# control + /
# bool(값) 다른 타입의 값을 논리형을 변환
# 빈문자열, 0, None => False
print(bool(''), bool('abc'), bool(' '))
print(bool(0), bool(0.0), bool(50), bool(-50))
print(bool(None))

False True True
False False True True
False

In [47]:
# 비교연산자
print(5 == 10)
print(10 == 10)
print(5 != 10)
print(10 != 10)
print('abc' == 'abc')
print('abc' == 'ab')

False
True
True
False
True
False

In [51]:
print(10 > 5)
print(10 < 5)
print(10 >= 10)

True
False
True

In [53]:
print('a' > 'b')
print(ord('a'), ord('b')) #문자를 숫자로 변경

False
97 98

In [58]:
#특수문자  <  숫자  <   영문자   <  한글
print(ord('#'), ord('0'), ord('A'), ord('a'), ord('가'))

35 48 65 97 44032

In [59]:
print('abcdf' > 'abcef')

False

In [69]:
num = 30
# num이 5 ~ 20 사이의 숫자인가?
# result = num > 5 and  num < 20 
result = (num > 5) & (num < 20) 
print(result)
print(not result)

False
True

In [67]:
num = 30
# num이 5 ~ 20 사이 밖의 숫자인가?
# result = num < 5  or  num > 20
result = (num < 5) |  (num > 20)
print(result)
print(not result)

True
False

In [70]:
True ^ False

True

In [71]:
True ^ True

False

In [73]:
# 조건연산자
num = -10
var = '양수' if num >= 0  else '음수'
print(var)

음수

In [74]:
a = None
print(a)

None

In [ ]:
# 문자열

In [81]:
# escape 문자
print('abc\bd')
print('abc\ndef\nghi')
print('''abc
def
hgi''')
print('abc\tdef')

abcd
abc
def
ghi
abc
def
hgi
abc	def

In [85]:
print('a\\a\\a')

a\a\a

In [90]:
print('C:\\Windows\\System32\\cmd.exe')
# escape문자의 \를 무시: r-string
print(r'C:\Windows\tystem32\nmd.exe')

C:\Windows\System32\cmd.exe
C:\Windows\tystem32\nmd.exe

In [93]:
print('I\'m a boy')
print("I'm a boy")

I'm a boy
I'm a boy

In [97]:
print('abc"def')
print("abc\"def")

abc"def
abc"def

In [98]:
print('aaaa"aaaa\'aaaaa')

aaaa"aaaa'aaaaa

In [101]:
# 문자열 연산자
print('a'+'b') #합친다.
name = '홍길동'
print("이름: "+name)

ab
이름: 홍길동

In [106]:
age = 20
tall = 178.8
print("나이: "+str(age))
print("키: "+ str(tall))

나이: 20
키: 178.8

In [108]:
print('-'*10)
print('abcd'*5)

----------
abcdabcdabcdabcdabcd

In [111]:
print(name, len(name))
print(len('alkdjflkasdjklasdjfkl'))

홍길동 3
21

In [113]:
addr = '서울시 서초구 서초동'
r = "서초구" in addr  #addr 문자열 안에 "서초구" 문자열이 있냐?
r2 = "종로구" in addr
print(r, r2)

True False

In [114]:
r = "서초구" not in addr  #addr 문자열 안에 "서초구" 문자열이 없냐?
r2 = "종로구" not in addr
print(r, r2)

False True

In [117]:
# print(값) 값을 출력
2 + 2
3 + 3
1 + 1

2

In [118]:
print(2+2)
print(3+3)
print(1+1)

4
6
2

In [119]:
"a"

'a'

In [120]:
print("a")

a

In [125]:
print("a", 20, "30", 3.2323)  #  출력하려는 값들이 여러개일 경우 , 를 구분자로 해서 나열한다.
print("a", 20, "30", 3.2323, sep='|')

a 20 30 3.2323
a|20|30|3.2323

In [126]:
# print() 출력할 값 뒤에 엔터를 기본적으로 붙인뒤 출력한다. 그래서 다음 출력은 다음줄에 나온다.
print('abc') 
print('def')

abc
def

In [128]:
print('abc', end='-')  #end는 출력할 값뒤에 붙일 값을 변경한다.
print('def')

abcdef

In [ ]:
# 인덱싱

In [140]:
s = "안녕하세요. 반갑습니다."
print(s)

안녕하세요. 반갑습니다.

In [134]:
print("2번 index 글자(3번째):", s[2])
print('5번 index 글자(6번째):', s[5])
print('뒤에서 2번째 글자:', s[-2])
print(s[7], s[-6])

2번 index 글자(3번째): 하
5번 index 글자(6번째): .
뒤에서 2번째 글자: 다
반 반

In [136]:
s[3] = '가' #index를 이용해 특정 문자를 변경할 수 없다.

TypeError: 'str' object does not support item assignment

In [148]:
s = "abcdefghijklmn"
print(len(s)) # 14글자 - index: 0 ~ 13

14

In [149]:
s[2:10:2] #범위: 2 ~ 10-1(9) 간격-2 => 2, 4, 6, 8,

'cegi'

In [151]:
s[2:10] # 간격 생략-기본값:1, :도 생략가능

'cdefghij'

In [153]:
s[:10] #시작 생략-기본값: 0  : 0 ~ 9

'abcdefghij'

In [154]:
s[10:] #종료 생략-마지막 index까지 다 조회

'klmn'

In [157]:
s[::3]

'adgjm'

In [159]:
s[5:1:-1]  # 시작: 5 ~ 종료: 2

'fedc'

In [160]:
s[::-1]

'nmlkjihgfedcba'

In [161]:
s[-2: 3 : -1]

'mlkjihgfe'

In [162]:
# formatting 문자열

In [163]:
name1, age1, address1 = '홍길동', 10, '서울'
name2, age2, address2 = '이순신', 20, '인천'
name3, age3, address3 = '강감찬', 30, '부산'

In [170]:
info1 = "이름: "+name1+"\n나이: "+str(age1)+"세\n주소: "+address1
print(info1)

이름: 홍길동
나이: 10세
주소: 서울

In [174]:
info2 = "이름: "+name2+"\n나이: "+str(age2)+"세\n주소: "+address2
print(info2)

이름: 이순신
나이: 20세
주소: 인천

In [175]:
# {} => 나중에 값이 들어갈 자리
info_layout = "이름: {}\n나이: {}세\n주소: {}"

info1 = info_layout.format(name1, age1, address1) 
#name1->첫번째{}, age1->두번째{}, address1->세번째 {} 에 넣어서 문자열(string)을 완성

In [176]:
print(info_layout)

이름: {}
나이: {}세
주소: {}

In [177]:
print(info1)

이름: 홍길동
나이: 10세
주소: 서울

In [182]:
print(info_layout.format(name2, age2, address2))
print(info_layout.format(name3, age3, address3))

이름: 이순신
나이: 20세
주소: 인천
이름: 강감찬
나이: 30세
주소: 부산

In [187]:
print("이름: {}\n나이: {}세\n주소: {}, 이름: {}".format(name1, age2, address3, name1))

이름: 홍길동
나이: 20세
주소: 부산, 이름: 홍길동

In [188]:
# {0}: 첫번째 값, {1}: 두번째 값
# 동일한 값을 여러군데에서 사용할 경우.
print("이름: {0}\n나이: {1}세\n주소: {2}, 이름: {1}".format(name1, age1, address1))

이름: 홍길동
나이: 10세
주소: 서울, 이름: 10

In [189]:
#{name}: 괄호의 이름지정. 값 전달시 괄호이름=값
print("이름: {name}\n나이: {age}세\n주소: {addr} {name}".format(name=name1, 
                                                        age=age1, 
                                                        addr=address1))

이름: 홍길동
나이: 10세
주소: 서울 홍길동

In [192]:
# 형식문자를 이용한 문자열 formatting 
# %s-string, %d-int, %f-float
name, age, weight = '홍길동', 23, 72.7
info = "이름: %s, 나이: %d, 몸무게: %.2f" % (name, age, weight)
print(info)

이름: 홍길동, 나이: 23, 몸무게: 72.70

In [194]:
# f-string
name, age, weight = '홍길동', 23, 72.7
print(f"이름: {name}, 나이: {age}, 몸무게: {weight}")

이름: 홍길동, 나이: 23, 몸무게: 72.7

In [205]:
weight=81.156
print(f"이름: {name:>5}, 나이: {age}, 몸무게: {weight:.2f}")

이름:   홍길동, 나이: 23, 몸무게: 81.16

In [204]:
# 타입: f-실수, d-정수, s-문자열
f"이름:{name:.2f}"

ValueError: Unknown format code 'f' for object of type 'str'

In [211]:
# 문자열 관련 함수/메소드
s = "사과|귤|배|수박|복숭아"
s.split('|')

['사과', '귤', '배', '수박', '복숭아']

In [215]:
s2 = "    abc    "
s2.lstrip() 
s2.rstrip()
s2.strip()

'abc'

In [218]:
s3 = "abcabcabc"
s3.replace('ab', '가') #ab를 가 로 변경

'가0123c가0123c가0123c'

In [222]:
len(s3) #s3의 글자수
s3.count('a')
s3.count('bc')

3

In [226]:
s3

'abcabcabc'

In [230]:
s3.index('a') # 'a' index
s3.index('bc')
s3.index('가') #없는 문자열을 찾으면 에러

ValueError: substring not found

In [231]:
s3.find('a')
s3.find('bc')
s3.find('가') #없는 문자열을 찾을 경우 -1을 반환

-1

In [233]:
"가 없다" if s3.find('가') == -1 else "가 있다"

'가 없다'

In [235]:
s4 = 'AbCdE'
s4.upper()
s4.lower()

'abcde'

In [237]:
addr = '서울시 서대문구'
addr.startswith('서울')
addr.startswith('광주')

False

In [239]:
url = 'www.naver.com'
url.endswith('.com')
url.endswith('.net')

False

In [259]:
# 타입변환

num1 = input("num1: ")  #사용자로부터 값을 입력받을 때 사용. 입력받은 값을 str으로 반환

num1: 100a

In [260]:
num2 = input("num2: ")

num2: 50

In [261]:
# 덧셈을 하려면 문자열을 정수/실수 변환
int(num1) + int(num2)

ValueError: invalid literal for int() with base 10: '100a'

In [255]:
float(num1) + float(num2)  #'50' => 50.0

70.0

In [256]:
s = input()

abc

In [258]:
int(s) # abc를 정수로 변환
# float(), int()는 변환가능한 형태의 문자열만 변환

ValueError: invalid literal for int() with base 10: 'abc'

In [263]:
int(True)  # True: 1
int(False) # False: 0

0