In [4]:
s = input() #input 함수를 사용-호출(call)
print(s)    #print 함수를 호출

안녕하세요
안녕하세요

In [5]:
int('1000')

1000

In [7]:
i = int('100') # '100': argument(인수) => 피연산자
print(i)  #i 의 100-> int() 함수의 반환값
j = print('test')

100
test

# 함수(Function)
- 사용자정의 연산자.
- 구문
```python
# [] 옵션, ... 여러개
def 함수이름([매개변수, ...] ):
    실행 구분들을 순서대로 작성
    ...
    [return value]
```
- 함수 이름
    - 규칙: 변수와 동일
    - 관례: 변수와 동일 - snake 표기법

In [13]:
# 함수 정의
#   정의된 함수는 사용하기 위해서는 메모리에 로딩되어야 한다.->실행, import
def say_hello():
    print("안녕하세요")
    print("Hello~")

In [19]:
# 호출: 함수명([argument])
# 리턴값이 있는 함수 호출:  변수 = 함수명([argument])
say_hello()

안녕하세요
Hello~

In [18]:
say_hello()
say_hello()
say_hello()

안녕하세요
Hello~
안녕하세요
Hello~
안녕하세요
Hello~

In [20]:
# 매개변수가 있는 함수
def say_hello2(name): #name : 매개변수(parameter) -> 호출한 곳으로 부터 전달된 값(argument)를 받을 변수
    greeting = f'{name}님 반갑습니다.'
    print(greeting)

In [22]:
say_hello2("홍길동") #매개변수가 있는 함수 호출시 반드시 값을 전달해야 한다.

홍길동님 반갑습니다.

In [23]:
say_hello2('이순신')
say_hello2('강감찬')

이순신님 반갑습니다.
강감찬님 반갑습니다.

In [24]:
# 반환값(리턴값)가 있는 함수
def say_hello2(name, age):
    greeting = f'{age}세 {name}님 환영합니다.'
    return greeting  #greeting변수의 값(처리결과)를 호출한 곳을 전달 => 리턴값
                     # return : 호출한 곳으로 돌아가라는 명령어.

In [26]:
g1 = say_hello2('홍길동', 20)
g2 = say_hello2('이순신', 30)
print(g1+g2)

20세 홍길동님 환영합니다.30세 이순신님 환영합니다.

In [36]:
# 매개변수는 여러개 선언 가능.  리턴값은
# 1개만 가능. (처리결과가 여러개인 경우? 자료구조로 묶어서 전달.)
# 두개의 값을 받아서 4칙연산한 결과를 반환하는 함수
def calc(num1, num2):
    a = num1 + num2
    b = num1 - num2
    c = num1 * num2
    d = None
    if num2 != 0:
        d = num1 / num2
    
    
#     return [a, b, c, d] # 리스트
#     return a, b, c, d  #튜플
    return {'plus':a, 'minus':b, 'multiply':c, 'divide':d}

In [43]:
calc(10, 5)
print(num1, num2, a, b, c, d)  # calc() 함수안에서 선언한 변수들을 사용
# 중요)함수 안에 선언된 변수: Local Variable(지역변수) => 사용범위는 함수가 실행하는 동안. 함수안에서만 사용가능

NameError: name 'a' is not defined

In [31]:
result = calc(10,5)
print(result)
r1, r2, r3, r4 = calc(20, 10) # 리스트 대입
print(r1, r2, r3, r4)

(15, 5, 50, 2.0)
30 10 200 2.0

In [39]:
result = calc(10,5)
print(result)
print("덧셈결과:", result['plus'])

{'plus': 15, 'minus': 5, 'multiply': 50, 'divide': 2.0}
덧셈결과: 15

In [38]:
result = calc(10, 0)
result

{'plus': 10, 'minus': 10, 'multiply': 0, 'divide': None}

## 매개변수와 관련된 문법

### Positional Parameter(Argument)
- 일반적인 매개변수(parameter)
- 매개변수가 선언된 순서대로 값을 전달한다.

In [56]:
def print_info(name, age, address):
    print(f"이름: {name}, 나이: {age}, 주소: {address}")

In [45]:
print_info("홍길동", 20, '서울')  #순서에 맞춰서 값들을 전달

이름: 홍길동, 나이: 20, 주소: 서울

In [46]:
print_info("홍길동", '서울', 20)

이름: 홍길동, 나이: 서울, 주소: 20

In [47]:
print_info('홍길동') # 매개변수에 값을 다 전달해야 한다.

TypeError: print_info() missing 2 required positional arguments: 'age' and 'address'

### 기본값이 있는 매개변수
- 매개변수에 값을 대입. 기본값 설정
    - 호출할 때 값이 안 전달되면 기본값을 사용.

In [48]:
def print_info2(name=None, age=-1, address=None):
    print(f"이름: {name}, 나이: {age}, 주소: {address}")

In [49]:
print_info2("이순순", 30, "서울")

이름: 이순순, 나이: 30, 주소: 서울

In [50]:
print_info2() # argument 생략하면 기본값을 함수내에서 사용한다.

이름: None, 나이: -1, 주소: None

In [51]:
# name,age(첫번째, 두번째)는 전달 address(세번째)는 기본값
print_info2("홍길동", 25)

이름: 홍길동, 나이: 25, 주소: None

In [52]:
# name(첫번째) 만 전달. age, address는 기본값(두번째 매개변수 부터)
print_info2('강감찬')

이름: 강감찬, 나이: -1, 주소: None

In [54]:
# address(세번째)만 전달, name, age(첫,두번째)는 기본값 - 
#                                        positional argument로는 안된다. => 뒤쪽의 매개변수에만 값을 전달 할 수없다. => keyword argument
print_info2('부산')
print_info2(None, -1, '부산')

이름: 부산, 나이: -1, 주소: None
이름: None, 나이: -1, 주소: 부산

In [55]:
print_info2(address='부산') # 매개변수를 지정해서 값을 전달 => keyword argument

이름: None, 나이: -1, 주소: 부산

In [57]:
print_info(address='인천', name='홍길동', age=40) #keyword argument를 사용하면 순서 상관없이 대입

이름: 홍길동, 나이: 40, 주소: 인천

In [65]:
# 기본값이 없는 매개변수들을 먼저 선언하고 이어서 기본값 있는 매개변수들을 선언.
def print_info3(name, age, address=None, email=None):#   , hobby):
    print(f"이름: {name}, 나이: {age}, 주소: {address}, 이메일: {email}")

In [67]:
# 기본값 없는 것과 있는 매개변수들이 섞여 있는 경우 
# 기본값 없는 매개변수에는 값을 반드시 전달해야 한다.
# 기본값 없는 매개변수: 필수입력사항
# 기본값 있는 매개변수: 옵션입력사항
print_info3("홍길동", 20)
print_info3(name='이순신', age=30)

이름: 홍길동, 나이: 20, 주소: None, 이메일: None
이름: 이순신, 나이: 30, 주소: None, 이메일: None

### 가변인자

In [68]:
def sum_function(num_list):
    # 정수 여러개(정해지지 않은 개수)를 받아서 합계를 리턴하는 함수
    # argument: 자료구조
    sum_value = 0
    for v in num_list:
        sum_value += v
    return sum_value

In [69]:
result = sum_function([1,2,3,4,5,6,7,8,9,10])
result

55

In [70]:
r = sum_function([10,20,30])
r

60

In [79]:
# 가변인자: 개수가 정해지지 않은 값들을 받아서 처리할 경우 사용
# *변수명 - 튜플로 처리. 호출할때는 전달할 값들(argument)을 나열해서 전달한다.
def sum_function2(*num_list):
    print(type(num_list), num_list)
    sum_value = 0
    for v in num_list:
        sum_value += v
    return sum_value

In [80]:
r1 = sum_function2(1,2,3,4,5)
print(r1)

<class 'tuple'> (1, 2, 3, 4, 5)
15

In [83]:
sum_function2()

<class 'tuple'> ()

0

In [81]:
sum_function2(1,2,3)

<class 'tuple'> (1, 2, 3)

6

In [82]:
sum_function2(1,2,3,4,5,6,109,290,309)

<class 'tuple'> (1, 2, 3, 4, 5, 6, 109, 290, 309)

729

In [88]:
# 가변인자: **변수명. 딕셔너리로 처리. 호출할 때는 keyword argument 형식으로 전달.
# def print_info(name, age, address)
def print_info(**info):
    print(type(info), info)
    return_value = ''
    for key, value in info.items():
        return_value = f"{return_value}, {key}: {value}"
    return return_value

In [89]:
print_info()

<class 'dict'> {}

''

In [91]:
v1 = print_info(이름='홍길동')
v2 = print_info(나이=20, 주소='서울')
print(v1)
print(v2)

<class 'dict'> {'이름': '홍길동'}
<class 'dict'> {'나이': 20, '주소': '서울'}
, 이름: 홍길동
, 나이: 20, 주소: 서울

In [92]:
print(print_info(이름='홍길동', 주소='서울', 이메일='a@a.com', 취미='독서'))

<class 'dict'> {'이름': '홍길동', '주소': '서울', '이메일': 'a@a.com', '취미': '독서'}
, 이름: 홍길동, 주소: 서울, 이메일: a@a.com, 취미: 독서

In [98]:
def test_fn(*a, *b, *c): #가변인자는 한 함수에 종류별(*, **)로 하나씩만 선언가능
    pass

SyntaxError: invalid syntax (Temp/ipykernel_10764/1874215376.py, line 1)

In [99]:
def test_fn2(*args, **kwargs): 
    pass

In [106]:
def test_fn3(var1, var2, *args, **kwargs):#일반 변수와 같이 선언할 경우 가변인자는 마지막에 와야한다.
    pass

# 함수는 일급시민객체
- 함수를 변수에 할당, 함수를 (다른)함수호출할 때 argument로 전달, 함수가 리턴값으로 함수를 반환할 수 있다.
- 함수도 값으로 처리할 수 있다.

In [126]:
def my_fn(name=None):
    print(str(name)+"님 안녕하세요")
    return "리턴값"

In [128]:
# 함수 호출
# r1, r2에는 my_fn()함수의 실행 결과(리턴값)이 저장
r1 = my_fn('홍길동')
r2 = my_fn()  
print('======================')

print(r1, r2)

홍길동님 안녕하세요
None님 안녕하세요
======================
리턴값 리턴값

In [123]:
# 함수 자체가 your_fn에 저장.
your_fn = my_fn

In [125]:
your_fn('이순신')

이순신님 안녕하세요

In [129]:
test_fn = your_fn
test_fn()

None님 안녕하세요

In [134]:
# 함수를 매개변수의 argment 전달
def calculator(func):
    # 처리할 값이 있다. (num1, num2)
    # 어떻게 처리할지 방법이 없다. 처리방법(함수)을 매개변수 받는다.
    num1, num2 = 10, 20
    result = func(num1, num2)
    print('calculator()결과: ', result)

In [137]:
def plus(n1, n2):
    return n1 + n2

def minus(n1, n2):
    return n1 - n2

def multiply(n1, n2):
    return n1 * n2

In [136]:
calculator(plus)

calculator()결과:  30

In [138]:
calculator(minus)

calculator()결과:  -10

In [139]:
calculator(multiply)

calculator()결과:  200

## lambda 표현식
- 함수를 단일구문(식)으로 작성하는 방법
- 다시 사용할 필요 없이 함수 호출할 때 넘겨줄 함수를 만들 때 주로 사용

In [ ]:
def plus(n1, n2):
    return n1 + n2

In [ ]:
# lambda [매개변수] : 리턴값처리

In [140]:
x = lambda n1, n2: n1 + n2
x(1, 2)

3

In [141]:
# 하나의 값을 받아서 제곱한 값을 반환하는 함수
y = lambda v: v**2

In [143]:
y(10), y(2), y(5)

(100, 4, 25)

In [145]:
calculator(lambda n1, n2: n1 + n2)

calculator()결과:  30

In [146]:
calculator(lambda n1,n2: n1/n2)

calculator()결과:  0.5

In [153]:
l = [10, 20 , 30]
# mapping 각 원소에 * 10
# map(각원소들을어떻게처리할지정의한함수, Iterable)

In [154]:
def m10(x):
    return x*10

In [156]:
list(map(  m10    , l))

[100, 200, 300]

In [158]:
list(map(lambda x:x*10, l))

[100, 200, 300]

## docstring
- 함수(class, 메소드) 구현시 함수에 대한 설명을 문자열로 정의하는 것.
- 선언부와 구현부 사이에 여러줄 문자열 ('''   ''') 을 이용해서 작성
- 보통 작성하는 내용
    - 함수 설명
    - 매개변수에 대한 설명
    - 리턴 값에 대한 설명
    - 발생 Exception(Error)에 대한 설명

In [160]:
def print_info(name, age):
    """
    회원정보를 출력하는 함수
    회원의 이름과 나이를 받아서 출력하고 나이의 10배를 반환한다.
    [parameter]
        name: string - 회원이름
        age: int - 회원의 나이
    [return value]
        int - 나이에 10배의 값
    [Exception]
        발생할 가능성이 있는 에러에 대한 설명.
    """
    print(f'이름:{name}, 나이: {age}')
    return age * 10

In [161]:
# 주피터 노트북 docstring을 조회하는 명령어/단축키
# 함수명?
print_info?

In [162]:
print?

In [ ]:
# 함수명작성한 상태에서 shift + tab
# tab: 자동완성
# shift + tab : docstring 팝업으로 불러오기