# 마크다운

  
- **셀 변환**
   1. m: code sell에서 markdown cell로 변환
   1. y: markdown cell에서 code cell로 변환

# 리스트

- 순서가 있는 자료구조
- 생성
    - `1 = [값, 값, 값, ..]`

In [40]:
l1 = [1, 2, 10, 30]

l2 = [10.7, 5, 'abc', True, None, 30]

In [41]:
#조회 : indexing/ slicing
#indexing
print(l1[0], l1[3])
print(l2[2], l2[4])

1 30
abc None

In [42]:
#없는 index조회 => IndexError 에러 발생
l1[10]

IndexError: list index out of range

In [43]:
# index내의 원소 개수 조회
print('l1 원소개수:', len(l1))
print('l2 원소개수:', len(l2))

l1 원소개수: 4
l2 원소개수: 6

In [44]:
l2

[10.7, 5, 'abc', True, None, 30]

In [45]:
# slicing
print(l2[2:5])
print(l2[:3]) # 0~2
print(l2[3:])
print(l2[::2])

['abc', True, None]
[10.7, 5, 'abc']
[True, None, 30]
[10.7, 'abc', None]

In [46]:
#리스트는 원소를 변경할 수 있다. 변경 -> 대입연산
l2[0] = 100
l2

[100, 5, 'abc', True, None, 30]

In [47]:
l2[4] = '가나다'
l2

[100, 5, 'abc', True, '가나다', 30]

In [48]:
# slicing을 이용하면 지정한 범위의 원소들을 한번에 바꿀 수 있다.
l2[:3] = [1,2,3,4,5] # 0~2 index 값들을 1,2,3,4,5
l2

[1, 2, 3, 4, 5, True, '가나다', 30]

In [49]:
l2[2:5] = [] #특정 범위의 원소들을 삭제
l2

[1, 2, True, '가나다', 30]

In [170]:
del l2[0] #하나의 원소만 삭제: del명령어 사용
l2

[]

**리스트를 포함한 자료구조도 값이다.**
- 리스트(자료구조)에 다른 자료구조들을 원소로 추가할 수 있다.

In [53]:
l3 = [[1,2],[3,4,],[5,6]]
l4 = l3[0]
l4

[1, 2]

In [55]:
l4[1]

2

In [58]:
print(l3[0][1])
print(l3[2][0])

2
5

In [59]:
l4 = [
       [
           [1,2],[3,4],[5,6]
       ],
       [
           [10,20],[30,40],[50,60]
       ]    
       
]

In [60]:
l4

[[[1, 2], [3, 4], [5, 6]], [[10, 20], [30, 40], [50, 60]]]

In [62]:
l4[0][1][1]

4

In [63]:
l4[1][2][1]

60

### 리스트 연산자
- 리스트 + 리스트 : 두 리스트를 합친 새로운 리스트 반환
- 리스트 * 정수 : 리스트를 정수만큼 반복해서 합친 새로운 리스트를 반환
- 값 in 리스트, 값 not in 리스트 : 리스트안에 값이 있는지(in), 없는지(not in)bool 값으로 반환

In [64]:
l1 = [1,2,3]
l2 = [10,20,30]
l3 = l1 + l2
print(l3)

[1, 2, 3, 10, 20, 30]

In [65]:
l4 = l1 * 3
l4

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [66]:
10 in l1
1 in l1

True

In [67]:
10 not in l1
1 not in l1

False

### 리스트 대입
여러개의 변수에 리스트의 값들을 한번에 대입

In [69]:
a, b, c = [1,2,3] #변수와 리스트원소의 개수가 같아야 한다.
print(a, b, c)
print(a+b+c)

1 2 3
6

In [71]:
a, b, c = 10, 20 ,30 #튜플 대입

In [76]:
l1 = [1,2,3,4,5]

l1.reverse()
l1

[5, 4, 3, 2, 1]

# 튜플(Tuple)
- 리스트 처럼 순서가 있는 자료구조    
    - index (양수, 음수)로 원소를 관리
    - 원소를 변경할 수 없다. (추가, 삭제, 변경 이 안된다.)
- 생성

In [77]:
t1 = (1,2,3,4,5) #소괄호로 묶는다.
t2 = 10,20,30,40,50 # 소괄호 생략가능

In [78]:
t1

(1, 2, 3, 4, 5)

In [79]:
t2

(10, 20, 30, 40, 50)

In [81]:
t3 = 10, '가', True
t3

(10, '가', True)

In [82]:
t4 = (100) #t4 = 100
t4, type(t4), type(t3)

(100, int, tuple)

In [83]:
t5 = (100,) #원소가 하나일 경우 뒤에, 를 붙인다.
t6 = 100,
print(t5, t6)
print(type(t5), type(t6))

(100,) (100,)
<class 'tuple'> <class 'tuple'>

### 튜플대입

In [85]:
t1 +t2

(1, 2, 3, 4, 5, 10, 20, 30, 40, 50)

# 딕셔너리
 - 데이터를 key: value 쌍(pair)로 모아서 관리하는 자료구조

In [87]:
# 생성
person1 = {"name":"홍길동", "age":20, "address":"서울"}
person2 = {"age":20, "name":"이순신", "address":"서울"}
person1

{'name': '홍길동', 'age': 20, 'address': '서울'}

In [91]:
# 값 조회
print(person1['name'], person2['name'])
print(person1['age'], person2['age'])

홍길동 이순신
20 20

In [92]:
# 값 변경
person1['name'] = '한예찬'
person1

{'name': '한예찬', 'age': 20, 'address': '서울'}

In [93]:
person1['tel'] = '010-1111-2222' #없는 key에 값을 대입하면 추가가 된다.
person1

{'name': '한예찬', 'age': 20, 'address': '서울', 'tel': '010-1111-2222'}

In [94]:
person1['email'] # 없는 key 로 조회하면 keyError 발생

KeyError: 'email'

In [101]:
#dictionary.get('key') : 조회
# 없는 키값으로 조회하면 None(기본값), None대신 반환할 기본값을 설정할 수도 있다.
v = person2.get('age', '없음')
print(v)

20

In [103]:
len(person1),len(person2)

(4, 3)

In [104]:
person1

{'name': '한예찬', 'age': 20, 'address': '서울', 'tel': '010-1111-2222'}

In [105]:
'한예찬' in person1

False

In [106]:
'name' in person1

True

# 주요 메소드

In [111]:
person1.pop('name')

KeyError: 'name'

In [108]:
person1

{'age': 20, 'address': '서울', 'tel': '010-1111-2222'}

In [113]:
del person1['age']
person1

KeyError: 'age'

In [114]:
person1

{'address': '서울', 'tel': '010-1111-2222'}

In [116]:
person1.values()

dict_values(['서울', '010-1111-2222'])

# set(집합)
- 중복을 허용하지 않는 자료구조

In [117]:
s1 = {1,1,1,2,2,2,3,3,3,'a','a','a',True,True,True}
s1

{1, 2, 3, 'a'}

In [142]:
# 1~7번 문제
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85] 
# 위는 학생번호 1번 ~ 10번까지 10명의 시험 점수이다. (문제 1 ~ 7)

In [121]:
#(1)  7번의 점수를 출력하세요 
jumsu[6]

80

In [125]:
#(2)  1번부터 5번까지의 점수를 출력하세요.
jumsu[0:5]

[100, 90, 100, 80, 70]

In [124]:
#(3)  4, 5, 6, 7번의 점수를 출력하세요.
jumsu[3:7]

[80, 70, 100, 80]

In [128]:
#(4) 짝수번째 점수를 출력하세요.
jumsu[1::2]

[90, 80, 100, 90, 85]

In [129]:
#(5) 홀수번째 점수를 출력하세요.
jumsu[::2]

[100, 100, 70, 80, 95]

In [144]:
#(6) 9번의 점수를 20으로 변경하고 전체 출력하세요.
jumsu[8] = 20
print(jumsu)

[100, 90, 100, 80, 70, 100, 80, 90, 20, 85]

In [195]:
#(7) 중복된 점수는 제거하고 하나씩만 나오도록 출력하세요.
s1 = set(jumsu)
s2 = list(s1)
print(s1)
print(s2)

{100, 70, 80, 20, 85, 90}
[100, 70, 80, 20, 85, 90]

In [196]:
# 문제 8 ~ 9
fruits = ["복숭아", "수박", "딸기"]

In [197]:
#(8) fruits 리스트에 마지막 원소로 "사과", "귤"을 추가하세요.

# fruits.append("사과") #하나씩 추가
# print(fruits)
# fruits.append("귤")
# print(fruits)
fruits.extend(['사과','귤'])
#fruits = fruits + ['사과', '귤']
fruits

['복숭아', '수박', '딸기', '사과', '귤']

In [178]:
#(9) fruits 리스트에서 "복숭아"를 제거하세요.

#fruits.remove('복숭아') 값으로 삭제

del fruits[0] #index를 이용해서 삭제
print(fruits)

['수박', '딸기', '사과', '귤']

In [207]:
# 문제 10 ~ 15
#(10)본인의 이름, 나이, email주소, 취미, 결혼유무를 사전(딕셔너리)으로 생성. 
# 취미는 2개 이상의 값을 넣는다..

my = {'이름':'한예찬', '나이':28, 'email':'sdh1541@네이버', '취미':['운동','게임'], '결혼유무':'미혼'}
my

{'이름': '한예찬',
 '나이': 28,
 'email': 'sdh1541@네이버',
 '취미': ['운동', '게임'],
 '결혼유무': '미혼'}

In [208]:
#(11) 위 딕셔너리에서 이름과 email주소를 조회해서 출력하세요.
print(my['이름'],my['email'])

한예찬 sdh1541@네이버

In [209]:
#(12) 위 딕셔너리에서 취미중 두번째 취미를 조회해서 출력하세요.
print(my['취미'][1])

게임

In [210]:
#(13) 위 딕셔너리에 몸무게와 키 항목을 추가하세요.
my['몸무게'] = '94kg'
my['키'] = '170cm'
my

{'이름': '한예찬',
 '나이': 28,
 'email': 'sdh1541@네이버',
 '취미': ['운동', '게임'],
 '결혼유무': '미혼',
 '몸무게': '94kg',
 '키': '170cm'}

In [211]:
#(14) 위 딕셔너리에서 나이를 제거하세요.
del my['나이']
my

{'이름': '한예찬',
 'email': 'sdh1541@네이버',
 '취미': ['운동', '게임'],
 '결혼유무': '미혼',
 '몸무게': '94kg',
 '키': '170cm'}

In [212]:
#(15) 위 딕셔너리에서 email 주소를 다른 값으로 변경하세요.
my['email'] = 'sdh1541@다음'
my

{'이름': '한예찬',
 'email': 'sdh1541@다음',
 '취미': ['운동', '게임'],
 '결혼유무': '미혼',
 '몸무게': '94kg',
 '키': '170cm'}