# 제어문
code의 흐름을 제어하는 구문

## 조건문 (분기문)

In [12]:
num = int(input("정수:"))
# 입력값이 0이면 "영입니다." 라고 출력한다.
# 단순 if문 -> 특정 구문들을 실행할지 말지
if num==0:
    print('영입니다.')
    print('zero')
print('종료')

정수:0
영입니다.
zero
종료

In [15]:
# 입력받은 값이 0이면 "0입니다." 출력하고 0이 아니면 '0이 아닙니다.' 출력한다.
# if else 문: 조건이 True일 때 할일과 False 할일 두가지로 분기하는 경우.
num = int(input('정수:'))
if num==0:
    print("0입니다.")
else:
    print('0이 아닙니다.')
    print(f"입력한 숫자는 {num}입니다.")
        
print('종료합니다')

정수:0
0입니다.
종료합니다

In [21]:
# 입력받은 값이 0이면 '0입니다.'를 출력하고
#             양수이면 '양수입니다.'를 출력
#             음수이면 '음수입니다.'를 출력 한다. 
# if elif 문: 조건이 여러개일 경우 사용
# elif: else if
num = int(input('정수:'))
if num == 0:
    print('0입니다.')
elif num > 0:
    print('양수입니다.')
    print(f'입력한 숫자는 {num}입니다.')
# elif num < 0:
else:  #위 조건이 모두 False이면(나머지 조건들) else문을 실행
    print('음수입니다.')

print('종료합니다')

정수:-20
음수입니다.
종료합니다

In [28]:
# num이 0이상이면 "양수입니다."를 출력하고 100 이상이면 "100보다 큽니다."를 출력
num = -19
if num >= 0:
    print('양수')
    
if num >= 100:
    print('100이상')

In [27]:
if num >= 0:
    print('양수')
    if num >= 100:
        print('100이상')

양수

## 반복문
### while문
- 조건이 True인 동안 구문을 반복

In [37]:
limit = int(input('반복횟수:')) #반복할 횟수
count = 0 # 현재 몇번째 반복인지를 저장할 변수
while count < limit:   #  현재 반복횟수가 limit보다 적을때 까지 반복
    count = count + 1
    print(f'{count}. 안녕하세요')
    print('='*10)

반복횟수:3
1. 안녕하세요
==========
2. 안녕하세요
==========
3. 안녕하세요
==========

### for in 문
- iterable(자료구조들, 문자열 등)이 가지고 있는 값들을 순환조회할 때 사용

In [39]:
lst = [10, 5, 7, 9, 100, 50, 27, 123, 22, 90]
n1 = lst[0]
n2 = lst[1]
n3 = lst[2]

sum_result = n1 + n2 + n3
sum_result

22

In [41]:
lst

[10, 5, 7, 9, 100, 50, 27, 123, 22, 90]

In [40]:
# for 변수 in Iteratble:
#     반복구문
for num in lst: 
    print(num)  #for in 문의 반복구문은 iterable의 원소 하나씩 처리하는 코드
    print("-"*10)

10
----------
5
----------
7
----------
9
----------
100
----------
50
----------
27
----------
123
----------
22
----------
90
----------

In [44]:
for v in (10,20,30,40):
#     print(v)
    print(v, end=",") #end=>v를 출력후 엔터대신에 출력할 값.
print('종료')

10,20,30,40,종료

In [47]:
for v in {1, 2, 2, 2, 3, 4, 1, 2, 3, 4}: # {1,2,3,4}
    print(v, end='\t')

1	2	3	4

In [48]:
for v in dict(name='홍길동', age=20, address='서울'): #dictionary -> key가 조회된다.
    print(v)

name
age
address

In [49]:
for v in "안녕하세요.abcde~":
    print(v)

안
녕
하
세
요
.
a
b
c
d
e
~

In [50]:
list("abcdefg")

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [51]:
tuple("abcdefg")

('a', 'b', 'c', 'd', 'e', 'f', 'g')

In [53]:
set("abcdefgazaasdfasaa")

{'a', 'b', 'c', 'd', 'e', 'f', 'g', 's', 'z'}

In [54]:
d = dict(name='홍길동', age=20, address='서울')
d

{'name': '홍길동', 'age': 20, 'address': '서울'}

In [55]:
for key in d:
    print(d[key])

홍길동
20
서울

In [57]:
for v in d.values():
    print(v)

홍길동
20
서울

## continue, break
- continue: 다음 반복을 실행해라.
- break: 반복을 멈춰라.

In [65]:
# lst값들 중에 2의 배수만 출력
for v in lst:
    if v % 2 == 0:
        print(v)

10
100
50
22
90

In [68]:
lst

[10, 5, 7, 9, 100, 50, 27, 123, 22, 90]

In [69]:
for v in lst:
    if v % 2 != 0: #2의 배수가 아니면(조건)
        continue  # 나머지 반복구문 실행하지 말고 다음 반복 실행해라.
    print(v)

In [73]:
for v in lst:
    print(v)
    if v >= 100: # break할 조건
        break #더이상 반복하지 않고 반복문을 끝낸다.
    
print('end')

10
5
7
9
100
end

In [76]:
# 사용자로 부터 글을 입력받아서 출력. 'q!'를 입력받으면 종료
while True:
    s = input()
    print('입력한 문자열:', s)
    if s == 'q!':
        break

ㅁ나ㅣㄹ이ㅏㅁㄴㅇ라ㅣㅁㄴㅇ러
입력한 문자열: ㅁ나ㅣㄹ이ㅏㅁㄴㅇ라ㅣㅁㄴㅇ러
aaaaa
입력한 문자열: aaaaa
2309470qjdsfa;l
입력한 문자열: 2309470qjdsfa;l
0123jlksdfjlfds
입력한 문자열: 0123jlksdfjlfds
asdlkdjflkasdfj
입력한 문자열: asdlkdjflkasdfj
sadfkljadskladsf
입력한 문자열: sadfkljadskladsf
asdf
입력한 문자열: asdf
asdflkfdaskjldsfdsf
입력한 문자열: asdflkfdaskjldsfdsf
asdf
입력한 문자열: asdf
asdf sdafdsfa
입력한 문자열: asdf sdafdsfa
fdsfa
입력한 문자열: fdsfa
sdaf
입력한 문자열: sdaf
sdfa
입력한 문자열: sdfa
sfda
입력한 문자열: sfda
sdfa
입력한 문자열: sdfa
dsfaa
입력한 문자열: dsfaa
fsda
입력한 문자열: fsda
sdaf
입력한 문자열: sdaf
asdf
입력한 문자열: asdf
dsaf
입력한 문자열: dsaf
sdaf
입력한 문자열: sdaf

입력한 문자열:
1111
입력한 문자열: 1111

입력한 문자열:
q!
입력한 문자열: q!

## for in문 관련 함수
- range()
    - 특정값만큼 증감하는 연속된 숫자를 제공하는 iterable을 생성

In [77]:
# nums = [1, 2, 3, 4, 5, 6, 7, 8, ...,, 100]
# range(시작숫자, 끝숫자, 증감치)
range(10, 100, 10) # 10 ~ 100-1 까지 10씩 증가하는 연속된 값을 제공.
                   # 생성된 값이 필요할 때 제공한다.

range(10, 100, 10)

In [78]:
for i in range(10, 100, 10):
    print(i)

10
20
30
40
50
60
70
80
90

In [80]:
l = list(range(10,100,10))
l

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [82]:
tuple(range(10,100,10)), set(range(10,100,10))

((10, 20, 30, 40, 50, 60, 70, 80, 90), {10, 20, 30, 40, 50, 60, 70, 80, 90})

In [84]:
# 시작값이 종료보다 크고 증감치가 음수이면 내림차순으로 제공
list(range(100,10,-5))  #100 ~ 10-(-1)

[100, 95, 90, 85, 80, 75, 70, 65, 60, 55, 50, 45, 40, 35, 30, 25, 20, 15]

In [85]:
# 증감치를 생략 - 1
list(range(1,10)) # 1 ~ 9 1씩증

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [86]:
# 시작값 생략 (증감치도 같이 생략해야함.) - 0부터 시작
list(range(10)) # 0 ~ 9

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [87]:
# 종료값은 생략할 수 없다.
list(range(36))

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35]

# range() 전달하는 값이
- 1개: 종료값
- 2개: 시작값, 종료값
- 3개: 시작값, 종료값, 증감치

In [92]:
# range(): 특정 구문을 N번 반복하려고 할때 for in문과 함께 사용할 수 있다.
for _ in range(5):  # 변수를 _ 로 명명하면 이 변수는 사용하지 않겠다. 
                    # 자리만 채운다의 의미로 관례적으로 사용한다.
    print("ABC")

ABC
ABC
ABC
ABC
ABC

- enumerate(자료구조)
    - 튜플로 (몇번째반복인지,  값) 묶어서 반환

In [96]:
lst = [10, 5, 7, 8, 10, 2]
for i in enumerate(lst):
    print(i)

(0, 10)
(1, 5)
(2, 7)
(3, 8)
(4, 10)
(5, 2)

In [99]:
for i in enumerate(lst, start=10):
    print(i, f"순번:{i[0]}, 값: {i[1]}")

(10, 10) 순번:10, 값: 10
(11, 5) 순번:11, 값: 5
(12, 7) 순번:12, 값: 7
(13, 8) 순번:13, 값: 8
(14, 10) 순번:14, 값: 10
(15, 2) 순번:15, 값: 2

In [100]:
#enumerate() 반환값을 tuple 대입을 이용해 받는다.
for idx, value in enumerate(lst, start=1):
    print(f"{idx}. {value}")

1. 10
2. 5
3. 7
4. 8
5. 10
6. 2

- zip(자료구조1, 자료구조2, ....): 같은 index의 값들을 묶어서 반환

In [102]:
# 같은 index의 값들이 같은 사람의 정보
names = ['홍길동', '이순신', '강감찬']
ages = [30, 40, 50]
address = ['서울', '인천', '수원']

In [103]:
for i in range(3):
    print(names[i], ages[i], address[i])

홍길동 30 서울
이순신 40 인천
강감찬 50 수원

In [105]:
for v in  zip(names, ages, address):
    print(v, v[0], v[1], v[2])

('홍길동', 30, '서울') 홍길동 30 서울
('이순신', 40, '인천') 이순신 40 인천
('강감찬', 50, '수원') 강감찬 50 수원

In [106]:
for name, age, addr in zip(names, ages, address): #튜플대입
    print(name, age, addr)

홍길동 30 서울
이순신 40 인천
강감찬 50 수원

In [107]:
emails = ['h@a.com', 'l@a.com', 'k@b.com', 'abc@a.com']
# 자료구조들의 원소 개수가 다를 경우에는 적은 것에 맞춘다.
for name, age, addr, email in zip(names, ages, address, emails):
    print(name, age, addr, email)

홍길동 30 서울 h@a.com
이순신 40 인천 l@a.com
강감찬 50 수원 k@b.com

# 컴프리헨션

In [115]:
l1 = [1, 2, 2, 2, 3, 4, 5]
# l1의 원소들을 5배한 값들로 구성된 리스트를 생성
new_list = []
for i in l1:
    new_list.append(i*5)
    
new_list

[5, 10, 10, 10, 15, 20, 25]

In [116]:
new_list2 = [i*5 for i in l1]  #리스트 컴프리헨션
new_list2

[5, 10, 10, 10, 15, 20, 25]

In [117]:
new_set = {i*5 for i in l1}  # set comprehension
new_set

{5, 10, 15, 20, 25}

In [123]:
# dictionary comprehension
new_dict = {key:value*5 for key, value in enumerate(l1, start=100)}
new_dict

{100: 5, 101: 10, 102: 10, 103: 10, 104: 15, 105: 20, 106: 25}

In [139]:
new_dict = {'key'+str(value):value   for value in l1}
new_dict

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4, 'key5': 5}

In [138]:
for value in l1:
    print(value)

1
2
2
2
3
4
5

In [144]:
s = ['a','b','c','abc']  #s의 값을 대문자로 변환한 값들을 원소로 가지는 리스트, Set

s2 = []
for v in s:
    s2.append(v.upper())
s2, s

(['A', 'B', 'C', 'ABC'], ['a', 'b', 'c', 'abc'])

In [145]:
s3 = [v.upper() for v in s]
s3

['A', 'B', 'C', 'ABC']

In [146]:
s4 = {v.upper() for v in s}
s4

{'A', 'ABC', 'B', 'C'}

In [148]:
s5 = {v:v.upper() for v in s}
s5

{'a': 'A', 'b': 'B', 'c': 'C', 'abc': 'ABC'}

In [153]:
s = ['a','b','c','abc', 'def', 'ak', 'r'] 
# s의 원소중 글자수가 1글자인 원소만 소문자를 대문자로 바꾼 값들을 가지는 배열
s2 = []
for v in s:
    if len(v)==1: # 글자수가 1이면
        s2.append(v.upper())

s2

['A', 'B', 'C', 'R']

In [160]:
s3=[v for v in s if len(v)==1] #filtering
s3

['a', 'b', 'c', 'r']

In [159]:
s4={v.upper() for v in s if len(v)==1} #filter + mapping
s4

{'A', 'B', 'C', 'R'}

In [164]:
list(filter(lambda x: len(x)==1, s))

['a', 'b', 'c', 'r']

In [168]:
list(map(lambda x: x.upper(), s))

['A', 'B', 'C', 'ABC', 'DEF', 'AK', 'R']

# TODO

In [176]:
#(1) 다음 점수 구간에 맞게 학점을 출력하세요.
# 91 ~ 100 : A학점
# 81 ~ 90 :  B학점
# 71 ~ 80 :  C학점
# 61 ~ 70 :  D학점
# 60이하   :  F학점
jumsu = 1000

if jumsu > 90 and jumsu <= 100:
    print('A학점')
elif jumsu > 80 and jumsu <= 90:
    print('B학점')
elif jumsu > 70 and jumsu <= 80:
    print('C학점')
elif jumsu > 60 and jumsu <= 70:
    print('D학점')
elif jumsu <= 60:
    print('F학점')
else:
    print(f"{jumsu}는 잘못된 점수입니다.")

1000는 잘못된 점수입니다.

In [179]:
#(2) 사용자로 부터 ID를 입력 받은 뒤 입력받은 ID가 5글자 이상이면 "사용할 수 있습니다."를 
#     5글자 미만이면 "사용할 수 없는 ID입니다."를 출력하세요.
id = input('ID:')
if len(id) >= 5:
    print(f'{id}는 사용할 수 있습니다.')
else:
    print(f'{id}는 사용할 수 없는 ID입니다.')

ID:abcdef
abcdef는 사용할 수 있습니다.

In [185]:
#(3) 사용자로부터 우리나라 도시명을 입력 받은 뒤 입력받은 도시명이 서울이면 "특별시"를 
# 인천,부산,광주,대구,대전,울산 이면 "광역시"를 나머지는 "특별시나 광역시가 아닙니다."를 출력하세요.
city = input('도시명:')
label = None
if city == '서울':
    label = '특별시'
# elif city=='인천' or city=='부산' or city=='대구':
elif city in ['인천', '부산', '광주', '대구', '대전', '울산']:
    label = '광역시'
else:
    label = "일반도시"

print(f'{city}는 {label}입니다.')

도시명:광주
광주는 광역시입니다.

In [194]:
i = 10
# i = i + 50
i += 50   # = 대입연산자.  
#`변수 연산자= 값`  복합대입연산자: 특정변수를 연산한 값을 그 변수에 다시 대입할 경우 사용
print(i)

60

In [198]:
#(4) 아래 리스트의 평균을 구하시오. 
jumsu = [100, 90, 100, 80, 70, 100, 80, 90, 95, 85]
jumsu_sum = 0 #점수의 합계를 저장할 변수
for i in jumsu:
#     jumsu_sum = jumsu_sum + i
    jumsu_sum += i
    
jumsu_mean = jumsu_sum/len(jumsu)
print('합계:', jumsu_sum)   
print('평균:', jumsu_mean)

합계: 0.0
평균: 0.0

In [202]:
s=sum(jumsu)  #sum(iterable) iterable의 원소들의 합계를 반환
m=s/len(jumsu)
print(s, m)

890 89.0

In [192]:
#(5) 위 jumsu리스트에서 평균점수이상은 pass, 미만은 fail을 index번호와 함께 출력하시오. (ex: 0-pass, 1-pass, 2-fail)
for idx, i in enumerate(jumsu):
    if i >= jumsu_mean:
        print(f'{idx}. 점수:{i} - pass')
    else:
        print(f'{idx}. 점수:{i} - fail')

0. 점수:100 - pass
1. 점수:90 - pass
2. 점수:100 - pass
3. 점수:80 - fail
4. 점수:70 - fail
5. 점수:100 - pass
6. 점수:80 - fail
7. 점수:90 - pass
8. 점수:95 - pass
9. 점수:85 - fail

In [204]:
#(6) 아래 리스트 값들 중 최대값을 조회해 출력
jumsu = [60, 90, 80, 80, 70, 55, 100, 80, 90, 95, 85]
max_value = 0 #최대값을 저장할 변수
# 리스트의 원소와 max_value를 비교해서 원소가 더 크면 max_value값을 변경
for value in jumsu:
    if value > max_value:
        max_value = value
        
print("최대값:", max_value)

최대값: 100

In [206]:
max(jumsu), min(jumsu)  #iterable의 최대값과 최소값을 반환하는 함수.

(100, 55)

In [208]:
#(8) 다음 리스트 중에서 "쥐"와 "토끼" 제외한 나머지를 출력하세요.
str_list = ["쥐", "소", "호랑이", "토끼", "용", "뱀"]
for a in str_list:
    if a not in ['쥐', '토끼']:
        print(a)

소
호랑이
용
뱀

In [210]:
for a in str_list:
    if a in ['쥐', '토끼']:
        continue
    print(a)

소
호랑이
용
뱀

In [216]:
#(9) 사용자로부터 정수를 입력받아 그 단의 구구단을 출력하시오. 
# ex) 단을 입력하시오 : 2  
# 2 x 1 = 2
# 2 x 2 = 4
#..
# 2 x 9 = 18

dan = int(input("단을 입력하시요: "))
for i in range(1, 10):
    print(f"{dan} X {i} = {dan*i}")

단을 입력하시요: 2
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18

In [218]:
#컴프리헨션

#(10) 다음 리스트가 가진 값에 두배(* 2)를 가지는 새로운 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst = [10, 30, 70, 5, 120, 700, 1, 35]

[i*2 for i in lst]

[20, 60, 140, 10, 240, 1400, 2, 70]

In [222]:
#(11) 다음 리스트가 가진 값에 10배의 값을 가지는 값을 (원래값, 10배값) 의 튜플 묶음으로 가지는 리스트를 만드시오 (리스트 컴프리헨션 이용)
# Ex) [(10,100), (30,300), .., (35, 350)]
lst = [10, 30, 70, 5, 5, 120, 700, 1, 35, 35]
[(i, i*10) for i in lst]

[(10, 100),
 (30, 300),
 (70, 700),
 (5, 50),
 (5, 50),
 (120, 1200),
 (700, 7000),
 (1, 10),
 (35, 350),
 (35, 350)]

In [224]:
#(12) 다음 리스트가 가진 값들 중 3의 배수만 가지는 리스트를 만드시오. (리스트 컴프리헨션 이용)
lst2 = [ 3, 20, 33, 21, 33, 8, 11, 10, 7, 17, 60, 120, 2]
[i for i in lst2 if i % 3 == 0]

[3, 33, 21, 33, 60, 120]

In [227]:
#(13) 다음 파일이름들을 담은 리스트에서 확장자가 exe인 파일만 골라서 새로운 리스트에 담으시오.(string의 endswith()함수 이용)
file_name=["test.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

[file  for file in file_name if file.endswith('.exe')]

['a.exe', 'function.exe', 'b.exe', 'run.exe']

In [230]:
#(14) 다음 중 10글자 이상인 파일명(확장자포함)만 가지는 리스트를 만드시오.
file_name=["mystroy.txt", "a.exe", "jupyter.bat", "function.exe", "b.exe", "cat.jpg", "dog.png", "run.exe", "i.dll"]

# [file for file in file_name if len(file) >= 10 ]
[(file, len(file)) for file in file_name if len(file) >= 10 ]

[('mystroy.txt', 11), ('jupyter.bat', 11), ('function.exe', 12)]

In [233]:
#(15) 다음 리스트에서 소문자만 가지는 새로운 리스트를 만드시오.
str_list = ["A", "B", "c", "D", "E", "F", "g", "h", "I", "J", "k"]
# 대소문자로 변경
[s.lower() for s in str_list]
[s.upper() for s in str_list]

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K']

In [239]:
[s for s in str_list if s.islower()]
[s for s in str_list if s.isupper()]

['A', 'B', 'D', 'E', 'F', 'I', 'J']

In [236]:
"A".islower(), 'a'.islower()

(False, True)

In [237]:
'A'.isupper(), 'a'.isupper()

(True, False)