In [3]:
# 단축기
# shift + enter : 실행 후 다음 cell로 이동한다.
# control + enter : 실행 후 실행한 cell에 머무른다.
1+5

6

In [4]:
# 변수이름=값

name = "홍길동" #"홍길동" 이라는 값을 name이라는 변수에 대입. 이름이 name인 공간이 메모리에 없으면 새로 만들고 대입. 있으면 있는공간에 대입한다.
print(name) #print(값) ()안의 값을 출력하는 함수

홍길동

In [5]:
age = 25
print(age) # age 변수의 값을 출력

25

In [6]:
age = 50 #age 변수의 값을 50으로 대체(재할당)

In [7]:
print(age)

50

In [8]:
name = '이순신'

In [9]:
print(name)

이순신

In [10]:
age = age+20 #1. age 변수가 가진 값과 20을 더하는 처리
             #2. 1에서 처리한 값을 age변수에 대입

In [11]:
print(age)

70

In [12]:
age2 = age - 40

In [15]:
print(age2)

30

In [16]:
print(address) #이름이 address인 변수의 값을 출력 => 없는 변수를 사용 할 경우 에러 발생 -NameError

NameError: name 'address' is not defined

In [17]:
age = 30

In [18]:
Age = 50

In [19]:
print(age, Age) #두개값을 한번에 출력

30 50

In [20]:
주소 = '서울시 서초구 서초동' # 변수명으로 한글 가능
print(주소)

서울시 서초구 서초동

In [21]:
 우리집_주소 = '서울시 강남구' #특수문자는 _ 사용가능. _는 단어 구분자로 사용.(snake 표기법)

In [22]:
print(우리집_주소)

서울시 강남구

In [23]:
my_email_address = 'abc@abc.com'

In [24]:
# myEmailAddress = 'a@a.com' # camel 표기법

In [25]:
5age = 30 #숫자를 첫번째 글자로 할 수 없다. (변수명)

SyntaxError: invalid syntax (2786213939.py, line 1)

In [ ]:
# 여러개 변수에 같은 값을 대입
a = 10
b = 10
c = 10

In [26]:
a = b = c = 10

In [27]:
print(a,b,c)

10 10 10

In [28]:
age1= age2 =age3 =age4= age5 = 0
print(age1,age2,age3,age4,age5)

0 0 0 0 0

In [29]:
#여러개의 값을 여러개 변수에 한번에 대입
a=10
b=20
c=30

In [30]:
a, b, c = 10, 20, 30 # 변수의 개수와 값의 개수가 같아야 한다.
print(a,b,c)

10 20 30

In [36]:
age1, age2, age3, age4 = 50, 60, 70, 80
print(age1, age2, age3, age4)

50 60 70 80

In [37]:
#변수를 메모리에서 삭제
del age1

In [38]:
print(age1)

NameError: name 'age1' is not defined

In [40]:
# 동적타입언어 => 하나의 변수에 다양한 타입의 값들을 대입할 수 있다.
age = 30 #정수대입
print(age)
age = '스무살' #문자열 대입
print(age)
age = 25.7
print(age) # 실수

30
스무살
25.7

In [ ]:
# 정적타입언어 => 변수에 타입을 고정해서 같은 타입의 값들만 저장.
int age = 20
age =40
age =50

age = '스무살' #에러

In [41]:
#값, 변수의 타입을 확인하는 함수 - type(값)
type(age)

float

In [1]:
#데이터 타입
#숫자형

In [2]:
f1 = 0.5
f2 = 356.7
print(f1,f2)

0.5 356.7

In [3]:
f3 = .5 #정수부가 0일 경우 0은 생략가능
print(f3)

0.5

In [4]:
# 지수표기법 
f4 = 3e10 #3 x 10**10
print(f4)

30000000000.0

In [5]:
f5 = 3246e5
print(f5,type(f5))

324600000.0 <class 'float'>

In [6]:
f6 = 3e-3 # 3 X 10**-3
print(f6)

0.003

In [7]:
type(10), type(3.2) # int:정수타입, floot : 실수타입

(int, float)

In [11]:
print(2**5) #제곱연산자
print(10/3) #나누기
print(10 // 3) #몫
print(10 % 3) #나머지

32
3.3333333333333335
3
1

In [13]:
num = 1001
#num이 5의 배수?
print(num % 5) #결과가 0 이면 5의 배수

1

In [14]:
#논리형
b1 = True
b2 = False
print(b1,b2)

True False

In [17]:
# control + /
# bool(값) 다른 타입의 값을 논리형을 변환
# 빈문자열, 0 , None => False
print(bool(''), bool('abc'),bool(' '))
print(bool(0),bool(0.0),bool(50),bool(-50))
print(bool(None))

False True True
False False True True
False

In [20]:
#비교연산자
print(5 == 10)
print(10 == 10)
print(5 != 10)
print(10 != 10)

False
True
True
False

In [22]:
print('abc' == 'abc')
print('abc' == 'ab')

True
False

In [24]:
print(10>5)
print(10<5)
print(10>=10)

True
False
True

In [28]:
print('a' > 'b')
print(ord('a'),ord('b')) #문자를 숫자로 변경

False
97 98

In [29]:
#특수문자      숫자      영문자      한글
print(ord('#'), ord('0'), ord('A'), ord('a'), ord('가'))

35 48 65 97 44032

In [30]:
print('abcdf' > 'abcef')

False

In [39]:
num = 30
# num이 5~20 사이의 숫자인가?
result = (num > 5) & (num <20)
print(result)
print(not result)

False
True

In [38]:
num = 30
# num이 5~20 사이 밖의 숫자인가?
result = (num < 5) | (num > 20)
print(result)
print(not result)

True
False

In [42]:
# 조건연산자
num = -10
var = '양수'   if num >= 0  else '음수'

print(var)

음수

In [43]:
#문자열

In [46]:
# escape 문자
print('abc\bd')
print('abc\ndef\nghi')
print('''abc
def
ghi''')
print('abc\tdef')

abcd
abc
def
ghi
abc
def
ghi
abc	def

In [47]:
print('a\\b\\c')

a\b\c

In [48]:
print(r'a\b\c')
#escape문자의 \를 무시:r-string

a\b\c

In [49]:
print('I\'m a boy')
print("I'm a boy")

I'm a boy
I'm a boy

In [51]:
print('abc"def')
print("abc\"def")

abc"def
abc"def

In [53]:
#문자열 연산자
print('a'+'b') #합친다.
name = '홍길동'
print("이름:"+name)

ab
이름:홍길동

In [55]:
age =20
tall = 178.8
print("나이:"+str(age))
print("키:"+str(tall))

나이:20
키:178.8

In [56]:
print('abcd'*5)

abcdabcdabcdabcdabcd

In [58]:
print(name, len(name))
print(len('akasdlkfajsafsdlk'))

홍길동 3
17

In [62]:
addr = '서울시 서초구 서초동'
r = '서초구' in addr #addr 문자열 안에 '서초구'문자열이 있냐
r2 = '종로구' in addr
print(r,r2)

True False

In [63]:
r = '서초구' not in addr #addr 문자열 안에 '서초구'문자열이 없냐
r2 = '종로구' not in addr
print(r,r2)

False True

In [64]:
print(1+1)
print(2+2)
print(3+3)

2
4
6

In [65]:
"a"

'a'

In [66]:
print("a")

a

In [67]:
print("a", 20, "30", 3.2323) #출력하려는 값들이 여러개일 경우 , 를 구분자로해서 나열
print("a", 20, "30", 3.2323, sep='|')

a 20 30 3.2323
a|20|30|3.2323

In [69]:
#print() 출력할 값 뒤에 엔터를 기본적으로 붙인뒤 출력한다. 그래서 다음출력은 다음줄에 나타남
print('abc')
print('def')

abc
def

In [70]:
print('abc', end= '') #end는 출력할 값뒤에 붙일 값을 변경한다.
print('def')

abcdef

In [71]:
#인덱싱

In [80]:
s="안녕하세요. 반갑습니다."
print(s)

안녕하세요. 반갑습니다.

In [81]:
print("2번 index 글자(3번째):",s[2])
print("5번 index 글자(6번째):",s[5])
print('뒤에서 2번째 글자:',s[-2])
print(s[7],s[-6])

2번 index 글자(3번째): 하
5번 index 글자(6번째): .
뒤에서 2번째 글자: 다
반 반

In [83]:
s = "abcdefghijklmn"
print(len(s)) #14글자 - index: 0 ~ 13

14

In [85]:
s[2:10:2] #범위 : 2~ 10-1(9) / 간격 : 2 => 2,4,6,8

'cegi'

In [88]:
s[2:10] # 간격생략 - 기본값:1, :도 생략가능

'cdefghij'

In [90]:
s[:10] #시작 생략 - 기본값:0 : 0~9

'abcdefghij'

In [91]:
s[10:] #종료 생략 - 마지막 index까지 다 조회

'klmn'

In [93]:
s[::3] #전체에서 3칸씩 건너서 가져옴

'adgjm'

In [95]:
s[5:1:-1] #시작:5 ~ 종료:2

'fedc'

In [96]:
s[::-1]

'nmlkjihgfedcba'

In [97]:
s[-2:3:-1]

'mlkjihgfe'

In [98]:
#formatting 문자열

In [100]:
name1, age1, address1 = '홍길동', 10, '서울'
name2, age2, address2 = '이순신', 20, '인천'
name3, age3, address3 = '강감찬', 30, '부산'

In [102]:
info1 = name1+str(age1)+address1
print(info1)

홍길동10서울

In [105]:
info2 = '이름:'+name2+'\n나이:'+str(age2)+'세\n주소:'+address2
print(info2)

이름:이순신
나이:20세
주소:인천

In [110]:
info_layout = "이름: {}\n나이: {}세 \n주소: {}"
info1 = info_layout.format(name1, age1, address1)

In [113]:
print(info1)

이름: 홍길동
나이:10세
주소: 서울

In [114]:
print("이름: {}\n나이: {}세\n주소: {}".format(name1,age2,address3))

이름: 홍길동
나이: 20세
주소: 부산

In [115]:
# {0}:첫번째 값, {1}: 두번째 값
# 동일한 값을 여러군데에서 사용 할 경우.
print("이름: {0}\n나이: {1}세\n주소: {2}, 이름: {1}".format(name1, age1, address1))

이름: 홍길동
나이: 10세
주소: 서울, 이름: 10

In [116]:
#{name}: 괄호의 이름지정, 값 전달시 괄호이름=값
print("이름: {name}\n나이: {age}세\n주소: {addr}".format(name=name1, age=age1, addr=address1))

이름: 홍길동
나이: 10세
주소: 서울

In [120]:
#형식문자를 이용한 문자열 formatting
# %s-string %d-int, %f-floot
name,age,weight = '홍길동', 23, 72.7
info = "이름: %s, 나이: %d, 몸무게: %.2f" % (name,age,weight)
print(info)

이름: 홍길동, 나이: 23, 몸무게: 72.70

In [121]:
# f-string
name,age,weight = '홍길동', 23, 72.7
print(f"이름: {name}, 나이:{age}, 몸무게:{weight}")

이름: 홍길동, 나이:23, 몸무게:72.7

In [130]:
weight = 81.156
print(f"이름: {name:<5}, 나이:{age}, 몸무게:{weight:.2f}")

이름: 홍길동  , 나이:23, 몸무게:81.16

In [132]:
# 타입 : f-실수, d-정수, s-문자열
f"이름:{name:.2s}"

'이름:홍길'

In [135]:
#문자열 관련 함수/메소드
s="사과|귤|배|수박|복숭아"
s.split('|')

['사과', '귤', '배', '수박', '복숭아']

In [139]:
s2 = "       abc      "
s2.lstrip()
s2.rstrip()
s2.strip()

'abc'

In [140]:
s3 = "abcabcabc"
s3.replace('ab','가') #ab를 가 로 변경

'가c가c가c'

In [150]:
len(s3) #s3의 글자 수
s3.count('a')
s3.count('bc')

3

In [151]:
s3

'abcabcabc'

In [157]:
s3.index('a') #a의 index
s3.index('가') #없는 문자는 에러

ValueError: substring not found

In [156]:
s3.find('a')
s3.find('가') #없는문자열을 찾을 경우 -1을 반환

-1

In [158]:
"가 없다"if s3.find('가') == -1 else "가 있다"

'가 없다'

In [160]:
s4 = 'abcd'

In [161]:
s4.upper()

'ABCD'

In [162]:
s4.lower()

'abcd'

In [165]:
addr = '서울시 서대문구'
addr.startswith('서울')
addr.startswith('광주')

False

In [168]:
url = 'www.naver.com'
url.endswith('.com')
url.endswith('.net')

False

In [175]:
#타입변환

num1 = input("num1:") #사용자로부터 값을 입력받을 때 사용, 입력받은 값을 str로 반환

num1:20

In [176]:
num2 = input("num2:")

num2:50

In [178]:
# 덧셈을 하려면 문자열을 정수/실수 변환
int(num1)+int(num2)

70

In [180]:
float(num1) + float(num2) # '50' => 50.0

70.0

In [181]:
s = input()

abc

In [183]:
int(s) #abc를 정수로 변환
#float(), int()는 변환가능한 형태의 문자열만 변환

ValueError: invalid literal for int() with base 10: 'abc'

In [184]:
int(True) # True = 1
int(False)# False = 0

0

In [185]:
#1. 주민번호 "901211-1027213"의 앞 6자리만 조회해서 출력하시오.
num = "901211-1027213"

num[:6]

'901211'

In [188]:
#2. "안녕하세요" 를 10번 출력하시오.
word = '안녕하세요 '

print(word*10)

안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요 안녕하세요

In [190]:
#3. 다음 문자열의 글자수를 출력하시오.
word = "akdlclkdkdlelql39du7마구0ㅌ" 
len(word)

24

In [201]:
#4.
name="TV"
price=300000
maker = "LG"
# 위 변수의 값을 다음과 같은 형태로 출력하시오.
#"제품명 : TV, 가격 : 300000, 제조사 : LG"
print('제품명: '+name+', 가격: '+str(price)+",제조사: "+maker)
print(f"제품명 : {name}, 가격 : {price}, 제조사 : {maker}")
print('제품명: {}, 가격: {}, 제조사: {}'.format(name,price,maker))
print('제품명: %s, 가격: %d, 제조사: %s'%(name,price,maker))

제품명: TV, 가격: 300000,제조사: LG
제품명 : TV, 가격 : 300000, 제조사 : LG
제품명: TV, 가격: 300000, 제조사: LG
제품명: TV, 가격: 300000, 제조사: LG

In [205]:
#5
fruits = "사과 복숭아 귤 배"
# 위 fruits에 "수박"이 있는지 확인하는 코드를 작성하시오.
print('수박' in fruits)
'있음' if '수박' in fruits else '없음' #없으면 -1 반환

False

'없음'

In [197]:
#6 
str_value="aldkjaldjfalfjlksajfladlkaalalkdjfa"
# str_value 문자열안에 a가 몇개 있는지 출력하시오.
str_value.count('a')

9