# pymysql
- 파이썬에서 MySQL, MariaDB DBMS와 연동하는 다양한 함수를 제공하는 모듈
- Python [DB API 2.0](http://www.python.org/dev/peps/pep-0249) 표준을 따른다.
- https://github.com/PyMySQL/PyMySQL/
- https://pymysql.readthedocs.io/en/latest/

# 설치
- 조건
    - python version 3.6 이상
    - mysql version 5.6 이상
- 설치
    - `pip install PyMySQL`
    - `conda install -y -c conda-forge pymysql`

In [3]:
!dir

 C 드라이브의 볼륨에는 이름이 없습니다.
 볼륨 일련 번호: EA08-420F

 C:\class\01_python 기초 디렉터리

2022-06-02  오후 02:41    <DIR>          .
2022-06-02  오후 02:41    <DIR>          ..
2022-06-02  오후 02:41    <DIR>          .ipynb_checkpoints
2022-05-10  오후 05:57            61,210 01 변수와 데이터타입_.ipynb
2022-05-11  오후 04:56            54,653 02_자료구조_.ipynb
2022-05-13  오전 09:40            46,219 03_제어문_.ipynb
2022-05-16  오전 09:49            34,127 04_함수_.ipynb
2022-05-17  오후 03:16            57,782 05_객체지향프로그래밍_.ipynb
2022-05-18  오전 09:10            11,423 06_모듈_패키지_import.ipynb
2022-05-19  오전 10:10            36,543 07_예외처리_.ipynb
2022-05-20  오전 09:30            31,482 08_입출력_.ipynb
2022-05-20  오후 05:43            47,682 09_Iterator와 Decorator_.ipynb
2022-05-23  오후 05:58            41,772 10_파이썬 정규표현식_.ipynb
2022-06-02  오후 02:41             9,343 11_pymysql을 이용해 mysql연동.ipynb
2022-05-10  오후 12:18                14 a.py
2022-05-10  오후 12:18                14 a.txt
2022-05-19  오후 04:11                30 aaaaaa.txt
2022-05-19  오후 04:20                 6 aaabbbccc.txt
2022-05-19  오전 09:46               276 abc.txt
2022-05-19  오후 04:07                 0 adasdf
2022-05-20  오전 09:23                58 b.txt
2022-05-19  오후 12:18                38 c.txt
2022-05-19  오후 02:17           231,678 img.jpg
2022-05-19  오후 02:22           231,678 img2.jpg
2022-05-19  오후 02:27           231,678 img3.jpg
2022-05-19  오후 03:04                65 list.pkl
2022-05-19  오후 02:49               144 member.csv
2022-05-19  오후 05:20               148 member_2.csv
2022-05-19  오후 05:26               148 member_3.csv
2022-05-19  오후 04:18    <DIR>          my_package
2022-05-17  오후 03:18               149 test.py
2022-05-19  오후 04:10                33 test.txt
2022-05-24  오전 11:44    <DIR>          text_data
2020-11-18  오전 10:49               365 TODO_IO.txt
2022-05-17  오후 05:51               706 utils.py
2022-05-17  오후 06:02             1,785 utils_mypackage.zip
2022-05-17  오후 05:40    <DIR>          __pycache__
              31개 파일           1,131,249 바이트
               6개 디렉터리  192,306,241,536 바이트 남음

In [1]:
!pip install pymysql

Collecting pymysql
  Downloading PyMySQL-1.0.2-py3-none-any.whl (43 kB)
Installing collected packages: pymysql
Successfully installed pymysql-1.0.2

# 기본 작성 절차

1. Database 연결
    ```python
       connection =  pymysql.connect(host="DBMS 서버 ip", 
                                     port="port번호", 
                                     user="계정명", 
                                     password="비밀번호", 
                                     db="연결할데이터베이스이름", 
                                     charset='utf8')
    ```
    - port 번호 기본값: 3306
2. Connection을 이용해 Cursor 생성
    - Cursor: 연결된 Database에 sql문을 전송하고 select결과 조회 기능을 제공하는 객체
    ```python
        cursor = connection.cursor()
    ```
3. Cusror를 이용해 SQL문 전송
    ```python
        cursor.execute("sql문")
    ```
4. 연결 닫기
    - cursor, connection 연결을 닫는다.
    - with문을 이용할 수 있다. 
    ```python
    cursor.close()
    connection.close()
    ```

# 예제

## 테이블 생성 
- 참고) pymyql 을 이용해서는 DML(insert, update, delete, update)문을 실행한다. (DDL은 거의 실행하지 않는다.)

In [13]:
# import
import pymysql

# DB 연결 - connect() => 연결 실패시 Exception 발생
connection = pymysql.connect(host='127.0.0.1', 
                             port=3306,
                             user='scott',
                             password='tiger',
                             db='testdb')
print(type(connection))

<class 'pymysql.connections.Connection'>

In [14]:
# Cursor를 Connection으로 부터 얻어온다. - Cursor: sql문 실행을 관리하는 객체.
cursor = connection.cursor()
print(type(cursor))

<class 'pymysql.cursors.Cursor'>

In [16]:
# sql 문 실행 => 쿼리문 실행 실패시(sql문을 잘못 짠 경우, 제약조건 문제) -> Exception 발생
# sql 문은 string을 정의. execute() 메소드를 이용해서 DB에 전송.
sql = """
create table test_user (
  id  int  auto_increment  primary key, 
  name  varchar(30) not null,
  email varchar(100) not null unique,
  tall  decimal(5,2),
  birthday date
)
"""
cursor.execute(sql)  # 실행

OperationalError: (1050, "Table 'test_user' already exists")

In [17]:
# 연결닫기 - cursor, connection close
cursor.close()
connection.close()

## DML
### insert

In [19]:
import pymysql # auto commit=False

sql = "insert into test_user (name, email, tall, birthday) values ('홍길동', 'hong@a.com', 182.23, '2000-02-03')"
try:
    # 연결
    connection = pymysql.connect(host='127.0.0.1', port=3306, user='scott', password='tiger', db='testdb', charset='utf8')
    # cursor 생성
    cursor = connection.cursor()
    # insert문 실행
    cnt = cursor.execute(sql)
    
    connection.commit() # insert/delete/update 문 실행 후 commit 처리를 해야 한다.
    print(f"{cnt} 행이 insert 되었습니다.")
    
except Exception as e:
    if connection:
        connection.rollback()
    print(e)
finally:
#     연결 닫기
    if cursor: # if cursor!=None:
        cursor.close()
    if connection: # != None:
        connection.close()

1 행이 insert 되었습니다.

In [22]:
# with 문
# with 연결함수 as 변수
sql = "insert into test_user (name, email, tall, birthday) values ('홍길동2', 'hong2@a.com', 172.23, '2005-02-03')"
with pymysql.connect(host='127.0.0.1', port=3306, user='scott', password='tiger', db='testdb', charset='utf8') as connection:
    with connection.cursor() as cursor:
        cnt = cursor.execute(sql)
        print(f'{cnt} 행이 insert됨')
        connection.commit()

IntegrityError: (1062, "Duplicate entry 'hong2@a.com' for key 'test_user.email'")

In [23]:
def insert_user(name, email, tall, birthday):
    sql = f"insert into test_user (name, email, tall, birthday) values ('{name}', '{email}', {tall}, '{birthday}')"
    with pymysql.connect(host='127.0.0.1', port=3306, user='scott', password='tiger', db='testdb', charset='utf8') as connection:
        with connection.cursor() as cursor:
            cnt = cursor.execute(sql)
            print(f'{cnt} 행이 insert됨')
            connection.commit()

In [25]:
insert_user('이순신', 'lee@a.com', 190.20, '1995-10-22')

IntegrityError: (1062, "Duplicate entry 'lee@a.com' for key 'test_user.email'")

### Parameterized Query
- Parameterized Query
    - SQL 문에서 컬럼 값이 들어가는 자리에 값대신 `%s` placeholder를 사용한뒤 execute()에서 placeholder에 넣을 값을 tuple로 제공한다.
    - query문을 쉽게 작성할 수 있는 장점이 있다.

In [27]:
date(1999, 3, 2)# --- sql date

datetime.date(1999, 3, 2)

In [28]:
# datetime 모듈: 날짜-date, 시간-time, 날짜시간 - datetime 등 날짜와 시간을 다루는 모듈. -> DB의 날짜/시간 타입과 연동.
from datetime import date
sql = 'insert into test_user (name, email, tall, birthday) values (%s, %s, %s, %s)'
with pymysql.connect(host='127.0.0.1', port=3306, user='scott', password='tiger', db='testdb', charset='utf8') as connection:
    with connection.cursor() as cursor:
        cnt = cursor.execute(sql, ('유관순', 'yoo2@a.com', 175.3, '2000-01-02'))
        cnt2 = cursor.execute(sql, ('강감찬', 'kang@a.com', 170.3, date(1995,2,3)))
        print(f'{cnt} 행이 insert됨')
        print(f'{cnt2} 행이 insert됨')
        connection.commit()

1 행이 insert됨
1 행이 insert됨

### Parameterized Query를 이용해 여러개 행 insert

#### for문 사용

In [29]:
names = ['이름1', '이름2', '이름3']
emails = ['e1@a.com', 'e2@a.com', 'e3@a.com']
talls = [192.4, 185.2, 178,6]
birthdays = ['2000-10-10', date.today(), '1999-05-07']

In [31]:
sql = 'insert into test_user (name, email, tall, birthday) values (%s, %s, %s, %s)'
with pymysql.connect(host='127.0.0.1', port=3306, user='scott', password='tiger', db='testdb', charset='utf8') as connection:
    with connection.cursor() as cursor:
        for data in zip(names, emails, talls, birthdays):
            cursor.execute(sql, data)
        
        connection.commit()

#### executemany() 사용
- insert할 값들을 가진 리스트를 넣어 한번에 여러 행을 insert한다.

In [36]:
datas = [
    ['name1', 'a1@a.com', 172.3, '2000-02-22'],
    ['name2', 'a2@a.com', 182.44, '2001-03-20'],
    ['name3', 'a3@a.com', 162.44, '2005-03-10'],
]
sql = 'insert into test_user (name, email, tall, birthday) values (%s, %s, %s, %s)'
with pymysql.connect(host='127.0.0.1', port=3306, user='scott', password='tiger', db='testdb', charset='utf8') as connection:
    with connection.cursor() as cursor:
        cursor.executemany(sql, datas)
        connection.commit()

### update/delete
- 코딩 절차는 insert 와 동일

In [37]:
update_sql = "update test_user set tall = tall + 10, birthday = '2000-01-01'"
with pymysql.connect(host='127.0.0.1', port=3306, user='scott', password='tiger', db='testdb', charset='utf8') as connection:
    with connection.cursor() as cursor:
        cnt = cursor.execute(update_sql)
        connection.commit()
        print(f'{cnt}행이 update 됨')

12행이 update 됨

In [40]:
def update_user_by_id(id, name, email, tall, birthday):
    update_sql = 'update test_user set name=%s, email=%s, tall=%s, birthday=%s where id=%s'
    with pymysql.connect(host='127.0.0.1', port=3306, user='scott', password='tiger', db='testdb', charset='utf8') as connection:
        with connection.cursor() as cursor:
            cnt = cursor.execute(update_sql, (name, email, tall, birthday, id))
            connection.commit()
            return cnt

In [41]:
update_user_by_id(2, '홍길동', 'honggildong@abc.com', 192.23, '1990-10-10')

1

In [43]:
# delete
delete_sql = "delete from test_user where id = %s"
with pymysql.connect(host='127.0.0.1', port=3306, user='scott', password='tiger', db='testdb', charset='utf8') as connection:
    with connection.cursor() as cursor:
        cnt = cursor.execute(delete_sql, (2,))
        print(cnt)
        connection.commit()

0

In [46]:
def delete_user_by_id(id):
    delete_sql = "delete from test_user where id = %s"
    with pymysql.connect(host='127.0.0.1', port=3306, user='scott', password='tiger', db='testdb', charset='utf8') as connection:
        with connection.cursor() as cursor:
            cnt = cursor.execute(delete_sql, (id,))
            connection.commit()
            return cnt

In [47]:
delete_user_by_id(2)

0

In [48]:
delete_user_by_id(4)

1

In [50]:
id = 20
a = (id, )
print(a, type(a))

(20,) <class 'tuple'>

## select (DQL)
- 조회결과 조회
    - cursor.execute("select문") 실행 후 cursor의 결과 조회 메소드(fetch메소드)를 이용해 결과를 받는다.
- fetch메소드
    - **fetchall()**
        - 조회한 모든 행을을 반환
    - **fetchmany(size=개수)**
        - 지정한 size개수 만큼 반환
    - **fetchone()**
        - 조회결과 중 첫번째 행만 반환
        - 주로 pk 동등 조건으로 조회한 경우 사용

### fetchall()

In [3]:
import pymysql

sql = 'select * from test_user'

with pymysql.connect(host='127.0.0.1', port=3306, user='hanec', password='1866', db='test_db',charset='utf8')as connection:
    with connection.cursor() as cursor:
        #select문 실행
        cursor.execute(sql)
        #select 결과 조회 (fetchXXX() 메소드 이용)
        result = cursor.fetchall()

In [4]:
print(type(result), len(result))
print(type(result[0]))
result

<class 'tuple'> 7
<class 'tuple'>

((1, '유관순', 'yoo@a.com', Decimal('175.30'), datetime.date(2000, 1, 2)),
 (2, '홍길동', 'hong@a.com', Decimal('182.23'), datetime.date(2000, 2, 3)),
 (6, '유관순', 'yoo1@a.com', Decimal('175.30'), datetime.date(2000, 1, 2)),
 (7, '강감찬', 'kang@a.com', Decimal('170.30'), datetime.date(1995, 2, 3)),
 (8, 'name1', 'a1@a.com', Decimal('172.30'), datetime.date(2000, 2, 22)),
 (9, 'name2', 'a2@a.com', Decimal('182.44'), datetime.date(2001, 3, 20)),
 (10, 'name3', 'a3@a.com', Decimal('162.44'), datetime.date(2005, 3, 10)))

In [5]:
sql = 'select * from test_user'
with pymysql.connect(host='127.0.0.1', port=3306, user='hanec', password='1866', db='test_db',charset='utf8',
                    cursorclass=pymysql.cursors.DictCursor)as connection: #조회결과를 dictionary로 반환하는 커서.
    with connection.cursor() as cursor:
        print(type(cursor))
        cursor.execute(sql)
        result = cursor.fetchall()

<class 'pymysql.cursors.DictCursor'>

In [8]:
print(type(result),len(result))
print(type(result[0])) #dict : key-컬럼명 value-컬럼값
result

<class 'list'> 7
<class 'dict'>

[{'id': 1,
  'name': '유관순',
  'email': 'yoo@a.com',
  'tall': Decimal('175.30'),
  'birthday': datetime.date(2000, 1, 2)},
 {'id': 2,
  'name': '홍길동',
  'email': 'hong@a.com',
  'tall': Decimal('182.23'),
  'birthday': datetime.date(2000, 2, 3)},
 {'id': 6,
  'name': '유관순',
  'email': 'yoo1@a.com',
  'tall': Decimal('175.30'),
  'birthday': datetime.date(2000, 1, 2)},
 {'id': 7,
  'name': '강감찬',
  'email': 'kang@a.com',
  'tall': Decimal('170.30'),
  'birthday': datetime.date(1995, 2, 3)},
 {'id': 8,
  'name': 'name1',
  'email': 'a1@a.com',
  'tall': Decimal('172.30'),
  'birthday': datetime.date(2000, 2, 22)},
 {'id': 9,
  'name': 'name2',
  'email': 'a2@a.com',
  'tall': Decimal('182.44'),
  'birthday': datetime.date(2001, 3, 20)},
 {'id': 10,
  'name': 'name3',
  'email': 'a3@a.com',
  'tall': Decimal('162.44'),
  'birthday': datetime.date(2005, 3, 10)}]

### fetchone()

### fetchmany()

### curor 는 iterable 타입
- for문에 select 실행한 cursor를 사용하면 조회결과를 한 행씩 조회할 수 있다.

## TODO
- DB: hr (emp 테이블)

In [26]:
#1개의 행을 emp 테이블에 insert 하는 함수 - 호출해서 값 insert
def insert_emp(emp_id,emp_name,job, hire_date,mgr_id=None, salary=None ,comm_pct=None,dept_name=None):
    sql = 'insert into emp values(%s,%s,%s,%s,%s,%s,%s,%s)'
    with pymysql.connect(host='127.0.0.1', port=3306, user='hanec', password='1866', db='hr',charset='utf8')as connection:
        with connection.cursor() as cursor:
            cnt = cursor.execute(sql,(emp_id,emp_name,job,mgr_id,hire_date,salary,comm_pct,dept_name))
            connection.commit()
            return cnt

In [27]:
insert_emp(401,'홍길동','기획','2020-10-10',100,3000,0.2,'기획부')

1

In [28]:
insert_emp(402,'박명수','구매','2000-01-03')

1

In [11]:
# emp 테이블의 데이터를 수정하는 함수 - emp_id(where)로 나머지 정보를 수정.

In [37]:
def update_emp(emp_id, emp_name, job, hire_date,mgr_id,salary,comm_pct,dept_name):
    sql="update emp set emp_name=%s, job=%s, hire_date=%s, mgr_id=%s, salary=%s, comm_pct=%s, dept_name=%s where emp_id=%s"
    with pymysql.connect(host='127.0.0.1', port=3306, user='hanec', password='1866', db='hr',charset='utf8')as connection:
        with connection.cursor() as cursor:
            cnt = cursor.execute(sql,(emp_name,job,hire_date,mgr_id,salary,comm_pct,dept_name,emp_id))
            connection.commit()
            return cnt

In [38]:
# 206번

update_emp(206,'윌리암','회계','2002-06-07',205,18300,None,'Accounting')

1

In [48]:
#emp_id를 매개변수로 받아서 그 emp_id의 직원을 삭제하는 함수
def delete_emp_by_emp_job(job):
    sql='delete from emp where job=%s'
    with pymysql.connect(host='127.0.0.1', port=3306, user='hanec', password='1866', db='hr',charset='utf8')as connection:
        with connection.cursor() as cursor:
            cnt = cursor.execute(sql,(job, ))
            connection.commit()
            return cnt

In [49]:

delete_emp_by_emp_job('SH_CLERK')

20

In [50]:
#job을 매개변수로 받아서 그 job의 직원들을 삭제하는 함수
def select_all_emp():
    sql = 'select * from emp'
    with pymysql.connect(host='127.0.0.1', port=3306, user='hanec', password='1866', db='hr',charset='utf8')as connection:
        with connection.cursor() as cursor:
            result - cursor.fetchall()
            connection.commit()
            return cnt

In [14]:
# 전체 직원을 조회한 결과를 반환하는 함수.

In [15]:
#emp_id를 매개변수로 받아서 그 직원 정보를 조회한 결과를 반환하는 함수

In [16]:
#dept_name을 매개변수로 받아서 그 부서의 직원들을 조회한 결과를 반환하는 함수

In [17]:
#salary 범위를 받아서 그범위의 salary를 받는 직원들을 조회한 결과를 반환하는 함수

In [18]:
#dept_name을 매개변수로 받아서 부서별 급여 통계정보(합계,평균,최대,최소)를 반환하는 함수

In [ ]:
#insert: 1, update:1, delete:2, select:5